.no-experience {
  position: relative;
  top: 220px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.no-experience .poster {
  filter: grayscale(100%);
  opacity: 0.6;
  width: 400px;
  height: auto;
  transform: skewX(-5deg);
  transition: all 0.5s ease;
  cursor: pointer;
}

.no-experience img:hover {
  filter: grayscale(0%);
  opacity: 1;
  width: 500px;
  transform: skewX(0deg);
  right: 0px;
}

.star-fill {
  z-index: 684;
}

.rotating {
  animation-name: rotatingStar;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.title-cont {
  transform: rotate(5deg);
}
.inner {
  background: #1e0f64;
}

.sel-back {
  transform: translateX(-10px);
  box-shadow: 1px 8px 17px #0000007a;
  background: #25127a;
}

.button-container {
  display: flex;
  flex-direction: column;
}

.r-mobile {
  display: none;
}

.number {
  background: #25127a;
}

.number-2 {
  position: absolute !important;
  bottom: -7px;
  left: -7px;
}

@media screen and (max-width: 1200px) {
  .no-experience {
    flex-direction: column;
  }

  .no-experience img:first-child {
    position: relative;
    right: -46px;
  }

  .fecha {
    font-size: 11px;
    margin-bottom: 20px;
  }

  .star-ten-bdy {
    left: 50%;
    transform: translateX(-95%);
  }
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .name-cont {
    display: flex;
    width: 100%;
  }

  .no-experience {
    top: 80px;
  }

  .no-experience img {
    width: 340px;
  }
  .no-experience img:hover {
    width: 400px;
  }
  .circle {
    width: 15px;
    height: 15px;
  }
}

@media screen and (max-width: 619px) {
  .no-experience img {
    width: 250px;
  }

  .no-experience img:hover {
    width: 320px;
  }
}

@media screen and (max-width: 425px) {
  .r-tablet {
    display: none;
  }

  .r-mobile {
    display: inline;
  }

  .no-experience img {
    width: 200px;
  }
  .no-experience img:first-child {
    position: relative;
    right: 0px;
  }

  .no-experience img:hover {
    width: 260px;
  }
}
