<div
  class="container-fluid d-flex justify-content-center"
  id="proyects-container"
>
  <div class="row proyects-section mt-5">
    <div class="col">
      <app-title-subtitle
      [section]="'proyects'"></app-title-subtitle>
    </div>

    <div class="row pt-5 proy-cont-fth">
      <app-bttn-add
      dataTarget="Proyect"
       *ngIf="isLogged"></app-bttn-add>



      <div class="col proyects-container">
        <app-item-pryect
          *ngFor="let pryct of proyectos"
          [proyects]="pryct"
          [index]="pryct.id"
          (showProyectEvent)="selectedProyect($event)"
          (eliminarProyecto)="delete($event)"
        >
        </app-item-pryect>
      </div>
    </div>
  </div>
</div>
