

#proyects-subtitle {
    color: #000;
  }


#proyects-container {
  background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(255,255,255,1) 75%);

  }
  
  .proyects-section {
    width: 95%;
  }
  
  #proyects-title-container {
    background-color: #000;
  }
  
  /*GALLERY PROYECTS SECTION*/
  /*///////////////////////*/
  
  ul {
    list-style: none;
}
  .gallery-container {
    background-size: 400%;
    padding: 20px 40px 80px;
    border-radius: 20px;
    overflow: hidden;
  }
  
  
  .gallery {

    align-items: center;
    justify-items: center;
  }
  
  
  .container-pryct {
    width: 100%;
    filter: grayscale(80%);
    transition: 0.9s ease-in-out;
    border-radius: 20px;
    transition: 0.9s ease-in-out;
    border-radius: 20px;
    overflow: hidden;
    height: 900px;
  }
  
  
  .container-desc-pryct {
    width: 70%;
    height: 90%;
    padding: 15px 40px;
    border-radius: 20px;
    margin: auto;
    position: relative;
    top: 40px;
    overflow: hidden;
    font-family: "Syncopate", sans-serif;
    color: #fff;
    font-size: 28px;
    backdrop-filter: blur(15px);

  }
  
  .pryct-title-container{
    padding: 15px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
  }
  

.edit-delete-bttn{
  display: flex;
  flex-direction: column;
  color: #fff;
}

.container-add-button{
  width: 80%;
}
  
  .pryct-img{
  width: 100%;
  height: 380px;
    background-image: url("../../../Assets/images/Page Preview ARGPROGRAM.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 20px;
  }
  
  .pryct-body{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 14px 0;
  }
  
  .pryct-text{
    font-size: 20px;
    font-weight: regular;
  }
  
  .color-one-desc-pryct {
    border: 1px solid rgba(255, 255, 255, 0.1);
    background:rgba(0, 0, 0, 0.1);
    box-shadow: 0 3px 20px rgba(255, 255, 255, 0.1);
  }
  
  .pryct-buttons-container{
    display: flex;
    flex-direction: column;
    color: #fff;
    font-size: 20px;
  
  }
  
  .pryct-buttons-container .menu-item:before{
    display: none;
  }
  
  .menu-item:hover .pryct-btns{
    transition: background-color .7s ease;
  background-color: rgba(255, 255, 255, 0.085);
  }
  
  .pryct-buttons-container a{
    text-decoration: none;
    color: #fff;
  }
  
  .pryct-btns{
    border: 1px solid white;
    padding: 7px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
  margin: 5px 0;
  }
  
  
  .pryct-one {
    background-image: url("../../../Assets/images/Page Preview ARGPROGRAM.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  
  
  .container-desc-pryct:hover {
    opacity: 1;

  }
  .direccion-proyectos{
    display: flex;
    flex-direction: column;
  }

  
