<div class="container-fluid grid artistic-nav">
  <div class="row gx-0">
    <div class="col-lg-6">
      <div class="about-me">
        <a href="#about-me-section" class="link-to-section">
          <div class="cardd-container from-left">
            <div class="cardd">
              <div class="cardd-title">about me.</div>

              <div class="cardd-logo">
                <img
                  class="planet-icon"
                  src="../../../assets/images/planet.svg"
                />
              </div>
              <div class="cardd-icon arrow-down">
                <i class="fa-solid fa-arrow-down"></i>
              </div>
              <div class="text-wrapper">
                Descubre quién soy. Descubre quién soy. Descubre quién soy.
                Descubre quién soy. Descubre quién soy. Descubre quién soy.
                Descubre quién soy. Descubre quién soy.
              </div>
              <!--<div class="hover-text">about me.</div>-->
            </div>
          </div>
        </a>
      </div>
    </div>

    <div class="col-lg-3">
      <div class="row gy-0">
        <div class="skills">
          <a href="#skills-container" class="link-to-section">
            <div class="cardd-container from-top">
              <div class="cardd">
                <div class="cardd-icon">
                  <img
                    class="rocket-icon"
                    src="../../../assets/images/rocket.svg"
                  />
                </div>

                <div class="preview-text">skills.</div>
                <div class="text-wrapper">
                  Explora mis habilidades. Explora mis habilidades. Explora mis
                  habilidades. Explora mis habilidades. Explora mis habilidades.
                  Explora mis habilidades. Explora mis habilidades. Explora mis
                  habilidades.
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>

      <div class="row gx-0">
        <div class="proyects nav-item">
          <a href="#proyects-container" class="link-to-section">
            <div class="cardd-container from-bottom">
              <div class="cardd">
                <div class="cardd-icon">
                  <img
                    class="color-palette"
                    src="../../../assets/images/color-palette-sharp.svg"
                  />
                </div>

                <div class="preview-text">proyects.</div>
                <div class="text-wrapper">
                  Visita mis proyectos destacados. Visita mis proyectos
                  destacados. Visita mis proyectos destacados. Visita mis
                  proyectos destacados. Visita mis proyectos destacados. Visita
                  mis proyectos destacados. Visita mis proyectos destacados.
                  Visita mis proyectos destacados.
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>

    <div class="col-lg-3">
      <div class="row">
        <div class="contact">
          <a href="#contact-container" class="link-to-section">
            <div class="cardd-container from-right">
              <div class="cardd">
                <div class="cardd-icon">
                  <img
                    height="40"
                    width="40"
                    src="../../../assets/images/people-circle-outline.svg"
                  />
                </div>

                <div class="preview-text">contact.</div>
                <div class="text-wrapper" id="break-point-anim">
                  ¿Quieres trabajar en conjunto? Contacta conmigo. ¿Quieres
                  trabajar en conjunto? Contacta conmigo. ¿Quieres trabajar en
                  conjunto? Contacta conmigo. ¿Quieres trabajar en conjunto?
                  Contacta conmigo. ¿Quieres trabajar en conjunto? Contacta
                  conmigo. ¿Quieres trabajar en conjunto? Contacta conmigo.
                  ¿Quieres trabajar en conjunto? Contacta conmigo. ¿Quieres
                  trabajar en conjunto? Contacta conmigo.
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>

  <hr class="horizontal-line mt-5" />
</div>
