*,
::after,
::before,
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 15px;
}

/*Scroll Personalizado*/

body::-webkit-scrollbar {
  width: 12px;
  background-color: rgb(12, 12, 12);
}

body::-webkit-scrollbar-thumb {
  background: #2500da;
  border-radius: 10px;
}

/* Fuentes Utilizadas*/
/*
font-family: 'Dela Gothic One', cursive; Agressive Letters
font-family: 'Share Tech', sans-serif; Circle Text
font-family: 'Syncopate', sans-serif; Button Login 
font-family: 'Dongle', sans-serif; Buttons & Titles
*/



header {
  background-color: black;
  overflow: hidden;
}

.header-container {
  height: 1145px;
}

.login-section {
  display: flex;
  justify-content: end;
  align-items: center;
}

.btn {
  font-family: "Syncopate", sans-serif;
  --bs-btn-padding-y: 3px;
  --bs-btn-padding-x: 45px;
  --bs-btn-font-size: 15px;
  --bs-btn-color: var(--bs-white);
  --bs-btn-bg: none;
  --bs-btn-border-color: var(--bs-white);
  --bs-btn-border-radius: 1rem;
  --bs-btn-hover-color: var(--bs-white);
  --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
  --bs-btn-active-color: var(--bs-black);
  --bs-btn-active-bg: white;
}




.horizontal-line {
  display: block;
  background-color: white;
  height: .5px;
  width: 95%;
  margin: auto;
  border: 0 none;
  padding: 0;
  opacity: 100;
}

#decrative-star {
  width: 70px;
  height: auto;
}

/* Circular Text*/
/* Circular Text*/



.circle {
  position: relative;
  width: 520px;
  height: 520px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text {
  position: absolute;
  width: 520px;
  height: 520px;
  color: white;
  font-family: "Share Tech", sans-serif;
  text-transform: uppercase;
  font-size: 1rem;
  animation: rotateText 18s linear infinite;

}

@keyframes rotateText {
  0% {
    transform: rotate(360deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

.text span {
  position: absolute;
  left: 50%;
  font-size: 1.2em;
  transform-origin: 0 260px;

}

/* Circular Text END */
/* Circular Text END */

/*HERO TITLE*/
/*HERO TITLE*/

h1 {
  text-align: center;
  position: absolute;
  font-family: 'Dela Gothic One', cursive;
  font-size: 8rem;
}

.hero-title {
  display: block;
  height: 8rem;
  color: transparent;
  -webkit-text-stroke: 1px white;
  position: relative;
  transition: all 0.7s ease;
}



.hero-title:hover {
  color: white;
  text-shadow: 0 0 50px rgba(255, 255, 255, 0.205);
}



/*HERO TITLE END*/
/*HERO TITLE END*/

/*NAVIGATION CONTAINER*/


/* nav */

container {
  color: white;
}



/* card basic styling */

.cardd-container {
  position: relative;
  height: 30vh;
  transition: all 0.3s ease-out;
  overflow: hidden;
  border-radius: 80px;
  transform: scale(0.98);
  font-family: 'Dongle', sans-serif;
  font-weight: 800;
}

.cardd {
  overflow: hidden;
}

.cardd-container:hover {
  transform: scale(0.92);
}

.cardd-icon {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 50px;
  font-size: 25px;
  z-index: 2;
}

.preview-text {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 50px;
  font-size: 2.8rem;
  font-weight: 400;
  transition: all 0.2s ease;
}

.text-wrapper {
  position: absolute;
  top: 50%;
  left: -20%;
  transform: translate(0, -50%);
  font-size: 3rem;
  font-weight: 400;
  white-space: nowrap;
  transition: 0.2s ease-out;
  animation: float-text 30s linear infinite;
  animation-delay: 0s;
  opacity: 1;
  padding: 20px 0;
}

@keyframes float-text {
  0% {
    left: -20%;
  }

  50% {
    left: -100%;
  }

  100% {
    left: -20%;
  }
}

.cardd-container:hover .text-wrapper {
  opacity: 0;
}

/* custom styling for nav items */

/* about-me */

#file {
  display: none;
}

.about-pic-div {
  position: relative;
  border-radius: 15%;
  border: 2px solid white;
  overflow: hidden;
  display: flex;
  justify-content: center;
  height: 530px;
  width: 400px;
}


.profile-photo {
  object-fit: cover;

}

.change-profile-photo {

  position: absolute;
  bottom: 0;
  left: 0;
  background: #2500da;

  justify-content: center;
  align-items: center;
  opacity: .8;
  display: none;
}

.change-photo-button {
  border-radius: 15px;
  height: 60%;
  width: 80%;
  color: #fff;
  font-size: 20px;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 12px;

}

#edit-cloud-icon {
  font-size: 40px;
}

.change-profile-photo:hover {
  position: absolute;
}



.link-to-section {
  color: white;
}

.link-to-section:hover {
  color: white;
}


.about-me .cardd-container {
  background-color: #2900e8;
  height: 60vh;
}

.about-me .text-wrapper {
  font-size: 60px;
  opacity: 1;
}

.about-me .cardd-container:hover .text-wrapper {
  opacity: 0;

}

.cardd-title {
  position: absolute;
  top: 0;
  right: 0;
  padding: 50px;
  font-size: 40px;
  transition: all 0.2s ease;

}

.about-me .cardd-container:hover .cardd-title {
  right: 10px;

}

.cardd-container:hover .preview-text {
  left: 10px;
  font-size: 4rem;

}

.cardd-logo {
  position: absolute;
  top: 0;
  left: 0;
  padding: 50px;
  font-size: 40px;
  text-transform: uppercase;
}



/* skills */

.skills-front-back {}

.skills .cardd-container {
  background: #AFAFAF;
  color: white;
}

.skills .preview-text,
.skills .cardd-icon {
  color: white;
}

.skills .cardd-container:hover .preview-text,
.skills .cardd-container:hover .cardd-icon {
  transition: 0.2s;
  color: #fff;
}

.skills .cardd-container:hover .text-wrapper {
  color: #000;
}

/* proyects */

.proyects .cardd-container {
  background: #ffffff;
  color: #000;
}



/* contact */

.contact .cardd-container {
  background: #111111;
  height: 60vh;
}

.contact .cardd-container:hover {
  transform: scale(0.96, 0.92);
}

.contact .preview-text,
.contact .cardd-icon {
  color: white;
}

.contact .cardd-container:hover .preview-text,
.contact .cardd-container:hover .cardd-icon {
  transition: 0.2s;
  color: white;
}

.contact .cardd-container:hover .text-wrapper {
  color: #000;
}

@media(max-width:991px) {

  .about-me .cardd-container {
    height: 25vh;
  }

  .about-me .text-wrapper {
    font-size: 38px;
  }

  .contact .cardd-container {
    height: 25vh;
  }

  .cardd .preview-text {
    position: absolute;
    top: 0;
    right: 0;
    padding: 45px;
    font-weight: 400;
    transition: all 0.2s ease;
  }

  .cardd-title {
    padding: 45px;
  }

}



#about-me-section {
  width: 95%;
  overflow: hidden;
}

.titles-container {
  display: flex;
  justify-content: end;
  align-items: center;
  background: #2900e8;
  border-radius: 80px;
  transition: all 0.3s ease-out;
  overflow: hidden;
  height: 4rem;
}

.text-title-section {
  font-family: 'Dongle', sans-serif;
  font-weight: 400;
  font-size: 6rem;
  position: relative;
  top: 10px;
  right: 7px;
  color: transparent;
  -webkit-text-stroke: 1px white;
  transition: 0.2s ease-out;
  letter-spacing: 4px;
}

.about-me-paragraph-container {
  padding: 0px;
}

.text-headers {
  font-family: 'Dela Gothic One', cursive;
  text-transform: uppercase;
  color: white;
  font-size: 1.8rem;
}


#about-me-name {
  font-size: 2.5rem;
}

.text-paragraphs {
  color: white;
  font-family: 'Dongle', sans-serif;
  font-size: 2.5rem;
}

#about-me-paragraph {
  text-align: left;
}

.edit-button-container {
  margin-left: 15px;
  border-radius: 40px;
  padding: 10px;
  background-color: white;
  color: #000;
  display: none;
}


.edit-button-container:hover {
  color: white;
  background-color: #003cff;
}


.edit-button {}

.editable-inputs {
  display: none;
}

.header-experiencia-laboral {}

.header-educacion {}

/*SKILLS SECTION*/

/*Title & Subtitles*/
#skills-container {
  background-color: #0D0D0D;
  overflow: hidden;
}

.skills-section {
  width: 95%;
  display: flex;
  justify-content: center;
}

#skills-title-container {
  background-color: #2E2E2E;
}

.subtitles-container {
  margin-bottom: 3rem;
}

.subtitles {
  color: white;
  font-family: 'Dongle', sans-serif;
  font-weight: 400;
  font-size: 2.6rem;
  text-align: center;
}

#proyects-subtitle {
  color: #000;
}

/*Cards & Progress Bars*/

.header-front-end {}

.header-back-end {}

.circle-shape-1 {
  position: absolute;
  left: -50px;
  top: 158rem;
  height: 200px;
  width: 200px;
  background: white;
  border-radius: 50%;
  filter: blur(6px);
}

.circle-shape-2 {
  position: absolute;
  left: 37rem;
  top: 170rem;
  height: 250px;
  width: 250px;
  background: linear-gradient(#2900e8, #6c00e8);
  border-radius: 50%;
}

.glass-card {
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.06);
  border-radius: 30px;
  width: 75%;
  backdrop-filter: blur(15px);
}

#glass-card-programs {
  width: 88%;
}

.skills-title-language {
  color: transparent;
  font-family: 'Dongle', sans-serif;
  -webkit-text-stroke: 1px white;
}

h5 {
  font-weight: 400;
  font-size: 3.6rem;
  margin: 0;
  padding: 0;
}



.progress {
  margin: 10px 0;
  background-color: rgba(0, 0, 0, 0.267);
}


.progress-bar {
  border-radius: 10px;
  background-color: #003cff;

}


/*//////////////////////////////*/
/*SOFT SKILLS PROGRESS BARS*/
/*//////////////////////////////*/

.header-soft-skills {
  color: white;
  font-family: 'Dela Gothic One', cursive;
  text-transform: uppercase;
}

.skills-titles {
  color: white;
  font-family: 'Dongle', sans-serif;
  font-size: 2.6rem;
}


/*PROYECTS SECTION*/
/*//////////////////*/

/*Title & Subtitles*/

#proyects-container {
  background-color: white;
  overflow: hidden;

}

.proyects-section {
  width: 95%;
}

#proyects-title-container {
  background-color: black;
}

/*GALLERY PROYECTS SECTION*/
/*///////////////////////*/

.gallery-container {
  background-size: 400%;
  padding: 100px 40px;
  border-radius: 20px;
  animation: bganimation 15s infinite;
  overflow: hidden;
}


.gallery {
  --s: 640px;
  /* control the size */
  --g: 40px;
  /* control the gap */
  --f: 0.8;
  /* control the scale factor */
  display: grid;
  gap: var(--g);
  width: 100%;
  aspect-ratio: 1 / 1;
  grid-template-columns: auto;
  grid-template-rows: repeat(6, auto);
  grid-template-areas:
    "a"
    "b"
    "c"
    "d"
    "e"
    "f";
  align-items: center;
  justify-items: center;

}


.gallery>img {
  width: 0;
  height: 0;
  min-height: 100%;
  min-width: 100%;
  object-fit: cover;
  filter: grayscale(80%);
  transition: 0.9s ease-in-out;
  border-radius: 20px;
}



.gallery img:hover {
  filter: grayscale(0);
  width: calc(var(--s)*var(--f));
  height: calc(var(--s)*var(--f));
}

.container-pryct {
  width: 0;
  height: 0;
  min-height: 100%;
  min-width: 100%;
  filter: grayscale(80%);
  transition: 0.9s ease-in-out;
  border-radius: 20px;
  transition: 0.9s ease-in-out;
  border-radius: 20px;

}

.pryct-one {
  grid-area: a;
  background-image: url("/Assets/Page Preview ARGPROGRAM.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.container-desc-pryct {
  width: 100%;
  height: 100%;
  padding: 30px;
  border-radius: 20px;

  -webkit-transition: opacity 1.2s ease-in-out;
  opacity: 0;
  display: flex;
  align-items: center;
}

.color-one-desc-pryct {
  background-color: #1900ffb9;
}

.pryct-two {
  grid-area: b;
  background-image: url("/Assets/Page Preview ARGPROGRAM.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.color-two-desc-pryct {
  background-color: #ff00aab9;
}

.pryct-three {
  grid-area: c;
  background-image: url("/Assets/Page Preview ARGPROGRAM.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.color-three-desc-pryct {
  background-color: #00ff9db9;
}

.pryct-four {
  grid-area: d;
  background-image: url("/Assets/Page Preview ARGPROGRAM.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.color-four-desc-pryct {
  background-color: #71ff13b9;
}

.pryct-five {
  grid-area: e;
  background-image: url("/Assets/Page Preview ARGPROGRAM.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.color-five-desc-pryct {
  background-color: #ff9113b9;
}

.pryct-six {
  grid-area: f;
  background-image: url("/Assets/Page Preview ARGPROGRAM.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.color-six-desc-pryct {
  background-color: #13e3ffb9;
}

.gallery p {
  color: white;
  font-family: 'Dongle', sans-serif;
  font-size: 32px;
  text-align: center;
}

.container-pryct:hover {
  filter: grayscale(0);
  width: calc(var(--s)*var(--f));
  height: calc(var(--s)*var(--f));
}

.container-desc-pryct:hover {
  opacity: 1;
}

.proyect-three {
  grid-area: c;
}

.proyect-four {
  grid-area: d;
}

.proyect-five {
  grid-area: e;
}

.proyect-six {
  grid-area: f;
}

.pryc-desc-two {
  grid-area: desc-b;
}

.pryc-desc-three {
  grid-area: desc-c;
}

.pryc-desc-four {
  grid-area: desc-d;
}

.pryc-desc-five {
  grid-area: desc-e;
}

.pryc-desc-six {
  grid-area: desc-f;
}

/*CONTACT SECTION*/
/*//////////////////*/

#contact-container {
  background-color: black;
  font-family: 'Dongle', sans-serif;
  overflow: hidden;
  display: grid;
  grid-template-areas: "left center right";
}

.left-side-contact {
  padding: 181px 0px;
  grid-area: left;
}

.right-side-contact {
  padding: 181px 0px;
  text-align: end;
  color: white;
  grid-area: right;
}

.center-side-contact {
  padding: 181px 0px;
  grid-area: center;
}


/*LEFT SIDE*/
/*////////////////////*/
.contact-form {
  font-size: 1.7rem;
}

.contact-form form input,
.contact-form form textarea {
  width: 100%;
  padding: .7em;
  background: none;
  color: white;
  margin-top: 5px;
}



.contact-form form button,
.contact-form form input {
  outline: none;
  border: none;
  border-bottom: 1px solid white;
}

.contact-form>label {}

.contact-form form textarea {
  border-radius: 10px;
  border: 1px solid white;
}


.button-container {
  display: flex;

  justify-content: center;
}


.contact-form form button {
  width: 100%;

  border-radius: 10px;

}

.message {}

p>label {
  color: rgb(121, 121, 121);
  margin: 20px 12px 8px 12px;
}

/*RIGHT SIDE*/
/*////////////////////*/
.email-icon-container {
  display: flex;
  align-items: center;
  justify-content: end;
}

.email-icon-container ion-icon {
  margin-right: 15px;

}

.right-side-contact P,
.right-side-contact .email-icon-container {
  font-size: 2rem;
}


/*MEDIA QUERY */
/*///////////////////////*/

@media (max-width:1320px) {
  h1 {
    font-size: 6rem;
  }

  .hero-title {
    height: 6rem;
  }
}


@media (max-width:1024px) {

  html {
    font-size: 12px;
  }

  .titles-container {
    height: 6rem;
  }

  .text-title-section {
    font-size: 6rem;
    letter-spacing: 1px;
  }

}

@media(max-width:941px) {
  .about-pic-div {
    height: 400px;
    width: 400px;
  }
}

@media (max-width:768px) {

  html {
    font-size: 12px;
  }

  #decrative-star {
    width: 60px;
    height: auto;
  }

  .text-title-section {
    font-size: 5rem;
  }

  .titles-container {

    border-radius: 80px;
    transition: all 0.3s ease-out;
    height: 7rem;
  }

  .text-title-section {
    font-size: 6rem;
    letter-spacing: 1px;
  }

  .about-pic-div {
    height: 400px;
    width: 400px;
  }

  /*GALLERY PROYECTS SECTION*/
  /*///////////////////////*/

  .gallery-container {
    background-size: 400%;
    padding: 100px 40px;
    border-radius: 20px;
    animation: bganimation 15s infinite;
    overflow: hidden;
  }


  .gallery {
    --s: 640px;
    /* control the size */
    --g: 40px;
    /* control the gap */
    --f: 0.8;
    /* control the scale factor */
    display: grid;
    gap: var(--g);
    width: 100%;
    aspect-ratio: 1 / 1;
    grid-template-columns: auto;
    grid-template-rows: repeat(6, 500px);
    grid-template-areas:
      "a"
      "b"
      "c"
      "d"
      "e"
      "f";
    align-items: center;
    justify-items: center;

  }


  .gallery>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.9s ease-in-out;
    border-radius: 20px;
  }




  .container-pryct {
    width: 0;
    height: 0;
    min-height: 100%;
    min-width: 100%;
    filter: grayscale(80%);
    transition: 0.9s ease-in-out;
    border-radius: 20px;
    transition: 0.9s ease-in-out;
    border-radius: 20px;

  }

  .pryct-one {
    grid-area: a;
    background-image: url("/Assets/Page Preview ARGPROGRAM.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .container-desc-pryct {
    width: 100%;
    height: 100%;
    padding: 30px;
    border-radius: 20px;

    -webkit-transition: opacity 1.2s ease-in-out;
    opacity: 0;
    display: flex;
    align-items: center;
  }

  .color-one-desc-pryct {
    background-color: #1900ffb9;
  }

  .pryct-two {
    grid-area: b;
    background-image: url("/Assets/Page Preview ARGPROGRAM.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .color-two-desc-pryct {
    background-color: #ff00aab9;
  }

  .pryct-three {
    grid-area: c;
    background-image: url("/Assets/Page Preview ARGPROGRAM.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .color-three-desc-pryct {
    background-color: #00ff9db9;
  }

  .pryct-four {
    grid-area: d;
    background-image: url("/Assets/Page Preview ARGPROGRAM.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .color-four-desc-pryct {
    background-color: #71ff13b9;
  }

  .pryct-five {
    grid-area: e;
    background-image: url("/Assets/Page Preview ARGPROGRAM.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .color-five-desc-pryct {
    background-color: #ff9113b9;
  }

  .pryct-six {
    grid-area: f;
    background-image: url("/Assets/Page Preview ARGPROGRAM.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .color-six-desc-pryct {
    background-color: #13e3ffb9;
  }

  .gallery p {
    color: white;
    font-family: 'Dongle', sans-serif;
    font-size: 32px;
    text-align: center;
  }

  .container-pryct:hover {
    filter: grayscale(0);
    width: calc(var(--s)*var(--f));
    height: calc(var(--s)*var(--f));
  }

  .container-desc-pryct:hover {
    opacity: 1;
  }

  .proyect-three {
    grid-area: c;
  }

  .proyect-four {
    grid-area: d;
  }

  .proyect-five {
    grid-area: e;
  }

  .proyect-six {
    grid-area: f;
  }

  .pryc-desc-two {
    grid-area: desc-b;
  }

  .pryc-desc-three {
    grid-area: desc-c;
  }

  .pryc-desc-four {
    grid-area: desc-d;
  }

  .pryc-desc-five {
    grid-area: desc-e;
  }

  .pryc-desc-six {
    grid-area: desc-f;
  }


  /*/////////////////*/

  #contact-container {
    background-color: black;
    font-family: 'Dongle', sans-serif;
    overflow: hidden;
    grid-template-areas:
      "top"
      "center"
      "bottom";
  }

  .left-side-contact {
    padding: 181px 0px;
    grid-area: top;
  }

  .center-side-contact {
    padding: 181px 0px;
    grid-area: center;
  }

  .right-side-contact {
    padding: 181px 0px;
    text-align: end;
    color: white;
    grid-area: bottom;
  }


}

@media (max-width:742px) {
  h1 {
    font-size: 5rem;
  }

  .hero-title {
    height: 5rem;
  }

  #decrative-star {
    width: 50px;
    height: auto;
  }
}

@media (max-width:735px) {

  #about-me-name {
    font-size: 2rem;
  }

  .header-container {
    height: 1000px;
  }

}

@media (max-width:716px) {
  .about-pic-div {
    height: 350px;
    width: 350px;
  }
}

@media (max-width:620px) {
  h1 {
    font-size: 4rem;
  }

  .hero-title {
    height: 4.5rem;
  }


  .text {
    width: 460px;
    height: 460px;
  }

  .text span {
    position: absolute;
    left: 50%;
    font-size: 1.2em;
    transform-origin: 0 230px;
  }

  .circle {
    height: 460px;
  }


}

@media(max-width:575px) {

  #about-me-name {
    margin: auto;
  }

  #about-me-paragraph {
    text-align: justify;
    padding: 15px 25px;
  }

  .about-me-paragraph-container {
    padding: 0px 15px;
  }
}

@media(max-width:542px) {

  h1 {
    font-size: 3.5rem;
  }

  .hero-title {
    height: 4rem;
  }

  .text {
    width: 400px;
    height: 400px;
  }

  .text span {
    position: absolute;
    left: 50%;
    font-size: 1.2em;
    transform-origin: 0 200px;
  }

  .circle {
    height: 400px;
  }

}

@media (max-width:530px) {
  #about-me-name {
    font-size: 2rem;
  }
}

@media (max-width:425px) {

  .login-section {
    display: flex;
    justify-content: center;
  }

  .btn {
    --bs-btn-padding-y: .19rem;
    --bs-btn-padding-x: 5rem;
    --bs-btn-font-size: 12px;
  }

  .header-container {
    height: 700px;
  }

  #decrative-star {
    width: 40px;
    height: auto;
  }

  h1 {
    font-size: 3.2rem;
  }

  .hero-title {
    height: 3.8rem;
  }

  .text {
    width: 300px;
    height: 300px;
  }

  .text span {
    position: absolute;
    left: 50%;
    font-size: 0.9em;
    transform-origin: 0 150px;
  }

  .circle {
    height: 300px;
  }

  .decorative-star {
    width: 55px;
  }

  .titles-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 80px;
    transition: all 0.3s ease-out;
    height: 8rem;
  }

  .text-title-section {
    font-size: 6rem;
    letter-spacing: 1px;
  }

}

@media (max-width:375px) {

  h1 {
    font-size: 2.5rem;
  }

  .hero-title {
    height: 3rem;
  }

  .titles-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 80px;
    transition: all 0.3s ease-out;
    height: 8rem;
  }

  .text-title-section {
    font-size: 6rem;
    letter-spacing: 1px;
  }

  #about-me-name {
    font-size: 1.6rem;
  }


}

@media (max-width:320px) {

  h1 {
    font-size: 2.4rem;
  }

  .hero-title {
    height: 2.8rem;
  }

  .cardd-container {
    height: 13vh;
  }

  .about-me .cardd-container {
    height: 13vh;
  }

  .contact .cardd-container {
    height: 13vh;
  }

  .text-wrapper {
    display: none;
  }

  .titles-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 80px;
    transition: all 0.3s ease-out;
    height: 8rem;
  }

  .text-title-section {
    font-size: 5rem;
    letter-spacing: 1px;
  }

  .cardd-icon {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 35px;
    z-index: 2;
  }

  .arrow-down {
    display: none;
  }

  .preview-text {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 50px;
    font-size: 2.7rem;
    font-weight: 400;
    transition: all 0.2s ease;
  }
}