<ul class="items-list" *ngIf="isEditing == false">
    <li *ngFor="let education of educationList; let i=index">
      <div class="data-container">
      
          <div class="logo-image-container">
            <img [src]="education.img" alt="" class="logo-image">
          </div>
          <div class="list-info">
            <div class="left-info">
                  <h3>{{education.name}}</h3>
                  <p>{{education.info}}</p>
                  <p>{{education.status}}</p>
            </div>
            <div class="right-info">
              <div class="icons-edit-trash-container">

                <img class="edit-icon" (click)="editEducation(i)" src="../../../assets/images/create.svg"/>


                <img class="trash-icon" (click)="deleteEducation(i)" src="../../../assets/images/trash.svg"/>

              </div>
            </div>
            
          </div>
        
      </div>
    </li>
  </ul>

  <app-education-edit *ngIf="isEditing == true"></app-education-edit>