.insider-rectangle {
    padding: 8px 0px;
  }

  .skills-title-language {
    color: #fff;
    font-family: "Dongle", sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    width: 100%;
  }

  h5 {
    font-size: 20px;
  }

  .progress {
    margin: 0;
    border-radius:30px;
    height: 16px;
    background-color: #171717;
    font-family: "Dongle", sans-serif;
    font-size: 20px;
    width: 100%;
  }
  
  .progress-bar{
    color: #000;
    border-radius: 30px;
  }

  .front-end-bar{
    background: #06FBFA;
    box-shadow: #06FBFA 0px 2px 30px 0px;
  }
  .back-end-bar{
    background: #2A00E8;
    box-shadow: #2A00E8 0px 2px 30px 0px;
  }
  
  .programs-bar{
    background: #FF30D6;
    box-shadow: #FF30D6 0px 2px 30px 0px;
  }
  
  .soft-bar{
    background: #FFD22F;
    box-shadow: #FFD22F 0px 2px 30px 0px;
  }

  ul {
    margin: 0px;
    width: 100%;
  padding: 0;
  }

  
  li {
    margin: 0;
    list-style: none;
  }



  @media screen and (min-width: 320px) and (max-width: 768px){


 .insider-rectangle {
padding: 0 55px;
 margin: auto;
}
  .skills-title-language {
padding: 0px;
  }
  }