<div class="row educacion-container">
  <div class="title-container">
    <img src="../../../assets/images/Educacion-Icon.png" alt="" class="icon">
    <div class="line title-line"></div>
    <h1>Educacion</h1>
 
  </div>
  <app-bttn-add
  dataTarget="Educacion"
   *ngIf="isLogged"></app-bttn-add>


<ul class="list-group" *ngFor="let Educacion of educacion">
  <li class="list-group-item">
    <div class="circle"></div>
    <div class="line"></div>
    <div class="name-cont">
       <h2>{{ Educacion.nombreE }}</h2>
       
       <div class="fecha">
       <p> <span>Inicio: </span>{{Educacion.fechaInicio | date:'dd/MM/yyyy' }} </p>
       <p> <span>Fin: </span>{{Educacion.fechaFin | date:'dd/MM/yyyy' }}</p>
       </div>
  </div>
  <div class="edu-descrp-cont">
    <div class="icons-edit-trash-container" *ngIf="isLogged">
      <div class="bttn-container edit-cont">
        <img
          class="edit-icon"
          src="../../../assets/images/create.svg"
          (click)="editarItem(Educacion)"
        />
      </div>
      
      <div class="bttn-container trash-cont">
        <img class="trash-icon" src="../../../assets/images/trash.svg" (click)="delete(Educacion.id)"/>
        
      </div>
    </div>

    <p>{{ Educacion.descripcionE }}</p>
  </div>
  
  </li>
</ul>

</div>
