.educacion-container {
  color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0px;
}
.title-container {
  position: relative;
  margin-bottom: 50px;
  padding: 15px;
}

tr {

  border-bottom: 2px solid #5f5f5f;
}

td {
  font-family: "Syncopate", sans-serif;
  font-size: 15px;
}

h1 {
  font-family: "Dela Gothic One", cursive;
  text-transform: uppercase;
  color: #fff;
  font-size: 2.2rem;
margin-left: 30px;
}



.table {
  width: 100%;
  color: #fff;
}

.button-container {
  display: flex;
  flex-direction: column;
}

td button {
  width: 110px;
  margin-bottom: 10px;
}

.container-add-button {
  display: flex;
  align-items: center;
  justify-content: end;
  width: 100%;
  margin-bottom: 50px;
 padding-left: 0;
}

.add-bttn {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #222222;
  border-radius: 35px;
  transition: all 0.1s ease;
  border: 1px solid #fff;
  padding: 0 15px;
  font-family: "Syncopate", sans-serif;
  cursor: pointer;
}
.add-bttn:hover {
  background-color: #171717;
}

.add-bttn span {
  margin-left: 13px;
}

.add-bttn img {
  width: 40px;
  height: 40px;
  padding: 10px;
  margin: 0;
}


.modal-content {
  font-family: "Syncopate", sans-serif;
  color: #fff;
  background-color: #44444460;
  backdrop-filter: blur(8px);
  padding: 25px;
  border-radius: 20px;
  border: 3px solid #ffffff06;
}

.list-group-item {
  margin: 0;
  border: none;
  height: 90px;
  overflow-y: hidden;
  cursor: pointer;
  transition: all 0.6s ease;
  position: relative;
  padding-left: 30px;
}

.list-group-item:hover{
  height: 350px;
}

.list-group-item:hover .edu-descrp-cont{
filter: blur(0);
opacity: 1;
}



.circle {
  position: absolute;
  left: 0;
  top: 16px;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid #fff;
}
.title-circle{
  top: 39px;
  width: 30px;
  height: 30px;
  border: 4px solid #fff;
}
.line {
  position: absolute;
  left: 0;
  top: 40px;
  height: 70%;
  border-left: 2px solid #fff;
}

.title-line{
  position: absolute;
  left: 0;
  top: 80px;
  height: 47%;
  border-left: 4px solid #fff;
}

.icon{
  position: absolute;
  left: 3px;
  top: 38px;
  transform: translate(-50%, -50%);
  width: 55px;
  padding: 10px;
  border: 4px solid #fff;
  border-radius: 50%;
}
ul{

}

li{
  display: flex;
padding: 5px;
background: none;
color: #fff;
font-family: "Syncopate", sans-serif;
font-size: 15px;
padding-bottom: 20px;
}

.name-cont{
  width: 30%;
  word-wrap: break-word;
  display: flex;
  flex-direction: column;
}

.fecha{
display: flex;
flex-direction: column;
position: relative;
top: 17%;
opacity: 0;
transition: all .5s ease;


}

.fecha p{
  display: block;
}

.fecha p span{
  font-weight: 600;
}

.list-group-item:hover .fecha{
opacity: 1;
}

h2{
  font-size: 17px;
  font-weight: 700;
  height: fit-content;
}

.edu-descrp-cont{
  width: 70%;
  padding-left: 20px;
  word-wrap: break-word;
  filter: blur(2px);
  opacity: .5;
  transition: all .4s ease;
}



.icons-edit-trash-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 110px;
  padding: 0px 0px;
  margin: 0;
  color: #fff;
  z-index: 11;
  background-color: #222222;
  border-radius: 35px;
  border: 2px solid #fff;
  overflow: hidden;
  margin-bottom: 10px;
}

.bttn-container {
  padding: 8px;
  cursor: pointer;
  transition: box-shadow 0.1s ease-in-out;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.edit-cont:hover {
  background-color: #2900e8;
  transition: background-color 0.1s ease;
}

.trash-cont:hover {
  background-color: #940000;
  transition: background-color 0.1s ease;
}

.bttn-container span .new-bttn {
  font-size: 5px;
}

.bttn-container:hover {
}

.trash-icon {
  width: 22px;
  margin: 0;
}

.edit-icon {
  width: 22px;
  margin: 0;
  cursor: pointer;
}

@media screen and (min-width: 320px) and (max-width: 768px){


  .loader-cont{
  top: 0px!important;
  flex-direction: column;
}
  .loader-text{
    font-size: 20px!important;
  }

  .loader {
    width: 34px!important;
    height: 34px!important;
  }

  .list-group-item{
display: flex;
flex-direction: column;
  }

  .title-container {
    position: relative;
    margin-bottom: 20px;
    padding: 15px;
  }

  .title-line{
    display: none;
  }

  h1{
font-size: 17px;
margin-left: 23px;
  }

  h2{
    font-size: 12px;
  }

  .name-cont{
    display: flex;
    width: 100%;
  }
.fecha {
  font-size: 11px;
  margin-bottom: 20px;
}
  .edu-descrp-cont{
    display: flex;
    font-size: 10px;
    width: 100%;
  }

  .circle{
width: 15px;
height: 15px;

  }

  .icon{
    width: 40px;
    padding: 7px;
    border: 2px solid #fff;
    left: 0px;
    top: 26px;
  }
}

.spin-logo-cont{
position: relative;
display: flex;
align-items: center;
justify-content: center;
top: 0;
}

.loader-cont{
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.logo-loading{
  width: 80px;
  padding: 10px;
}

.border-container{
  width: 90px;
  height: 90px;
  position: absolute;
  margin: auto;
  border-radius: 50%;
  overflow: visible;
  padding: 10px;
  background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 67%, rgba(35,0,195,1) 83%, rgba(83,46,250,1) 100%);
  animation: border-anim 6s linear infinite;
  opacity: .5;
}

@keyframes border-anim {
  0%{transform: rotate(0deg);}
  25%{ transform: rotate(90deg);}
  50%{transform: rotate(180deg);}
  75%{ transform: rotate(270deg);}
  100%{transform: rotate(360deg);}
}
.content{
  background-color: #000;
  border-radius: 50%;
  padding: 10px;
}

/*Loader Text*/

.loader-text {
  color: rgb(124, 124, 124);
  font-family: "Syncopate", sans-serif;
  font-weight: 500;
  text-align: center;
  font-size: 25px;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 40px;
  padding: 10px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 8px;
}

.words {
  overflow: hidden;
}

.word {
  display: block;
  height: 100%;
  padding-left: 6px;
  color: #532efa;
  animation: spin_4991 4s infinite;
}

@keyframes spin_4991 {
  10% {
    -webkit-transform: translateY(-105%);
    transform: translateY(-105%);
  }

  25% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }

  35% {
    -webkit-transform: translateY(-205%);
    transform: translateY(-205%);
  }

  50% {
    -webkit-transform: translateY(-200%);
    transform: translateY(-200%);
  }

  60% {
    -webkit-transform: translateY(-305%);
    transform: translateY(-305%);
  }

  75% {
    -webkit-transform: translateY(-300%);
    transform: translateY(-300%);
  }

  85% {
    -webkit-transform: translateY(-405%);
    transform: translateY(-405%);
  }

  100% {
    -webkit-transform: translateY(-400%);
    transform: translateY(-400%);
  }
}