:host {
  margin: auto;
}

.container {
  display: flex;
  color: #fff;
  margin: 0;
  padding: 25px;
  border: 2px solid white;
  position: relative;
  top: 0;
  bottom: 0;
}

.decrative-star {
  position: absolute;
  width: 22px;
}

.left-top {
  top: 11px;
  left: 18px;
}

.right-top {
  top: 11px;
  right: 18px;
}

.left-bottm {
  bottom: 18px;
  left: 18px;
}

.right-bottm {
  bottom: 18px;
  right: 18px;
}


#exampleModalLabel {
  font-family: "Dela Gothic One", cursive;
  font-size: 18px;
  text-transform: uppercase;
}

.modall-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.image-prjct-container {
  margin-top: 30px;
  width: 100%;
  height: 400px;
  border: 2px solid white;
  overflow: hidden;
}

.project-img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.prjct-description {
  margin-top: 30px;
}

.prjct-description p {
  font-family: "Syncopate", sans-serif;
  font-size: 15px;
  text-align: center;
}

.btn-close {
  position: absolute;
  right: 0px;
}

.prjct-buttons-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  font-size: 15px;
}

.prjct-buttons-container a {
  color: #fff;
}

.prjct-btns {
  border: 2px solid #fff;
  padding: 7px 20px;
  margin: 5px 15px 5px 0;
  transition: all .4s ease;
}

.prjct-btns:hover{
  transform: translateY(-4px);
  background-color: #2900e8;
}


@media screen and (max-width: 768px){
  .host{
    margin-top: 20px;
  }

  .decrative-star {
    width: 14px;
  }

  .image-prjct-container{
    height: 250px;
  }

  .prjct-description p {
    font-size: 10px;
  }

  .prjct-btns {
    border: 1px solid #fff;
    padding: 7px 12px;
    border-radius: 10px;
    margin: 2px 10px 2px 0;
  }

  .btn-item-text{
    white-space: nowrap;
    font-size: 11px;
  }
}

