<div class="cont" *ngIf="selectedRed">
  <div class="modal-content">
  <div class="modal-header">
    <span>
      Editar Red
    </span>
  </div>
        <form (ngSubmit)="onUpdate()" [formGroup]="editRedForm">
          <div class="form-group">
            <label for="nombreR">Nombre de Red Social</label>
            <input
              type="text"
              class="form-control"
              id="nombreR"
              name="nombreR"
              formControlName="nombreR"
              [value]="selectedRed.nombreR"
              required
            />
          </div>
          <div class="form-group">
            <label for="urlRed">Url</label>
            <textarea
              type="text"
              class="form-control"
              id="urlRed"
              name="urlRed"
              formControlName="urlRed"
              [value]="selectedRed.urlRed"
              required
            ></textarea>
          </div>
          <div class="form-group">
            <label for="urlIcon">Url del Icono</label>
            <textarea
              type="text"
              class="form-control"
              id="urlIcon"
              name="urlIcon"
              formControlName="urlIcon"
              [value]="selectedRed.urlIcon"
              required
            ></textarea>
          </div>
          <button class="bttn">Actualizar</button>
        </form>
      </div>
  </div>