<div class="row e-cont">
  <div class="title-cont">
    <div class="text-wrapper inner">
    / Experiencia / Experiencia / Experiencia 
    / Experiencia / Experiencia / Experiencia 
    / Experiencia / Experiencia / Experiencia 
    / Experiencia / Experiencia / Experiencia 
    / Experiencia / Experiencia / Experiencia
  </div>
  </div>
<app-bttn-add
dataTarget="Experiencia"
 *ngIf="isLogged"></app-bttn-add>


 <div *ngIf="loading" class="loader-cont">
  <app-loader-text [tipo]="'exp'"></app-loader-text>
  
<app-spin-load></app-spin-load>

</div>
  
 <div *ngIf="!loading">
 
 
  <div class="no-experience" *ngIf="expe.length === 0">
  <div class="circle-anim"></div>
    <div class="circle-anim"></div>
    <div class="border">
<img src="../../../../assets/images/Compact Disc.jpg" alt="" class="plastic-wrap">

    <div class="no-exp-header">
      <img
        src="../../../../assets/images/Star 10pts-01.png"
        alt=""
        class="star-ten-hd rotating"
      />
      <h3>error</h3>
      <img
        src="../../../../assets/images/Star 10pts-01.png"
        alt=""
        class="star-ten-hd rotating"
      />
      <h3>404</h3>
      <img
        src="../../../../assets/images/Star 10pts-01.png"
        alt=""
        class="star-ten-hd rotating"
      />
    </div>
<div class="no-exp-cont">
    <div class="no-exp-body">
      <div class="text-container">
     
        <p class="r-tablet">
          <span>Experiencia </span>
          <span>Laboral</span>
        </p>

        <p class="r-mobile">
          <span>Experiencia</span>
        </p>
      
        <div class="inside-text">
          <span>Not</span>
          <img
            src="../../../../assets/images/Arrow-01.png"
            alt=""
            class="arrow-text"
          />
          <span>Found</span>
        </div>
      </div>
    

    </div>

    <div class="no-exp-bottom">
      <img src="../../../../assets/images/Eye-01.png" alt="" class="eye" />
      <div class="text-cont-bttm">
        <div class="txt-left">
          <span>en</span>
        </div>

        <div class="txt-right">
          <span class="block">busqueda</span>
          <div class="inside-txt-right">
            <img
              src="../../../../assets/images/Star 10pts-01.png"
              alt=""
              class="star-txt-inside rotating"
            />
            <span>de</span>
            <img
              src="../../../../assets/images/Crayon Wave.png"
              alt=""
              class="wave"
            />
            <span>una</span>
          </div>
        </div>
        <div class="txt-bttm">
          <div class="inside-txt-bttm">
            <div class="bttn-simulate">
              <span>oportunidad</span>
            </div>
            <img
              src="../../../../assets/images/Star 4pts blue.png"
              alt=""
              class="starFour-txt-inside"
            />
            <img
              src="../../../../assets/images/Star 4pts blue.png"
              alt=""
              class="starFour-txt-inside"
            />
          </div>


        </div>
      </div>
    </div>
  </div>
  </div>
  <img
  src="../../../../assets/images/Hand Cursor.png"
  alt=""
  class="hand-cursor"
/>

</div>

<div *ngIf="expe.length > 0">
<div *ngIf="!loading" class="full-cont">


  
  <div class="descripcion">
    <img src="../../../assets/images/Star Fill.png" alt="" class="star-fill">
    <p *ngIf="!selectedE" class="desc-txt">Selecciona una opcion</p>
    <p *ngIf="selectedE" class="desc-txt">{{ selectedE.descripcionE }}</p>
    <div class="desc-footer" *ngIf="selectedE">
      
      <div class="fecha-cnt">
      
        <span>Inicio:</span>
      <div class="number">
       {{selectedE.fechaInicio | date:'dd/MM/yyyy'}}
      </div>
    <div class="number number-2"></div>
    </div>
  
    <div class="fecha-cnt">
      
      <span>Fin:</span>
      <div class="number">
        {{selectedE.fechaFin | date:'dd/MM/yyyy'}}
      </div>
      <div class="number number-2"></div>
    </div>
    </div>
  
    <div class="circle c-uno"></div>
    <div class="circle c-dos"></div>
    <div class="circle c-tres"></div>
  </div>
  
  <ul class="list-group">
    <li class="list-group-item" *ngFor="let Exp of expe; let i = index" (click)="selectExp(Exp,i)"
    [ngClass]="{'sel-back': i === seleccionado}">
      <div class="name-cont">
         <h2>{{ Exp.nombreE }}</h2>
         
         <div class="icons-edit-trash-container" *ngIf="isLogged">
          <div class="bttn-container edit-cont">
            <img
              class="edit-icon"
              src="../../../assets/images/create.svg"
              (click)="editarItem(Exp)"
            />
          </div>
          
          <div class="bttn-container trash-cont">
            <img class="trash-icon" src="../../../assets/images/trash.svg" (click)="delete(Exp.id)"/>
            
          </div>
        </div>
  
    </div> 
    </li>
  </ul>
  
  </div>
</div>

</div>

</div>
