

<header class="container-fluid header-cont" >

        <div *ngIf="loading" class="loader-cont">
         <app-loader-text
         [tipo]="'hero'"></app-loader-text>
        </div> 

        <div class="cont-loader-bar" *ngIf="loading">
          <div class="loader-bar"></div>
        </div>

        <div class="content" *ngIf="!loading">
          <div class="text-content">
            <p class="txt-1">Portfolio.</p>
            <div class="img-wrapper">
            </div>           
        </div>
  

         <!-- <div class="bottom-content fade-in"> 
            <p class="pers-title-mobile">{{persona?.titulo}}</p>
          </div>  -->

        </div>  
</header>
