
.header-container {
  background-color: #000;
  overflow-x: hidden;
  height: 1200px;
  padding: 0;
}

#decrative-star {
  width: 70px;
  height: auto;
  margin-top: 50px;
}

.decorative-stars {
  width: 20px;
  position: relative;
  top: -3px;
}

.hero-title {
  display: block;
  height: 8rem;
  color: transparent;
  -webkit-text-stroke: 1px white;
  position: relative;
  transition: all 0.7s ease;
  top: 300px;
}

.img-wrapper {
  position: absolute;
  left: 33%;
  top: 200px;
  margin: auto;
  width: 480px; /*Agrega esta línea*/
  margin-left: -240px;
}

.img-wrapper .polaroid-color {
  background-image: url(../../../assets/images/AlanCoelhoPolaroidColor.png);
  background-size: cover;
  background-position: center;
  height: 760px;
  width: 480px;
  position: absolute;
  top: 0;
  left: 0;
  transition: opacity 1s;
  z-index: 50;
}

.img-wrapper .polaroid-bw {
  background-image: url(../../../assets/images/AlanCoelhoPolaroidB&W2.png);
  background-size: cover;
  background-position: center;
  height: 760px;
  width: 480px;
  z-index: 30;
}

.polaroid-color:hover {
  opacity: 0;
}

.content {
  color: #fff;
  width: 100%;
  overflow: hidden;
}
.text {
  position: absolute;
  top: 540px;
  right: 4%;
  z-index: 70;
}

.text h1 {
  font-size: 90px;
  font-family: "Dela Gothic One", cursive;
  text-transform: uppercase;
  -webkit-text-stroke: 2px #fff;
  color: transparent;
  display: block;
}

.text p {
  font-family: "Syncopate", sans-serif;
  font-size: 24px;
  position: relative;
}

.name {
  position: absolute;
  font-size: 90px;
  top: 450px;
  left: -520px;
  font-family: "Dela Gothic One", cursive;
  text-transform: uppercase;
}

.bottom-content {
  font-family: "Syncopate", sans-serif;
  font-size: 24px;
  position: absolute;
  right: 28%;
  top: 860px;
  letter-spacing: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-weight: lighter;
  z-index: 650;
}

.bottom-content p {
  position: relative;
  top: 6px;
}

.line {
  position: relative;
  width: 130px;
  height: 2px;
  background-color: #fff;
  margin-right: 25px;
}

.star-8pts {
  width: 55px;
  position: relative;
  top: -2px;
  margin-left: 10px;
  animation: rotating 8s linear infinite;
}



@media screen and (max-width: 1200px) {
  .content {
    position: relative;
    top: -100px;
  }
  .img-wrapper {
    left: 50%;
  }

  .text {
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
  }
  .text h1 {
    white-space: nowrap;
    text-align: center;
    -webkit-text-stroke: 0px #fff;
    color: #fff;
  }
  .text p {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    display: inline-block;
    margin-top: 5px;
  }

  .text p::before,
  .text p::after {
    content: "";
    display: inline-block;
    width: 140px;
    height: 2px;
    background-color: #fff;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  .text p::before {
    left: -170px;
  }

  .text p::after {
    right: -170px;
  }

  .bottom-content {
    width: 100%;
    top: 130px;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
  }
  .line {
    display: none;
  }
  .star-8pts {
    width: 50px;
    margin-left: 7px;
  }
}

@media screen and (max-width: 928px) {
  .text h1 {
    font-size: 70px;
  }
  .text p {
    font-size: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    display: inline-block;
  }

  .text p::before,
  .text p::after {
    content: "";
    display: inline-block;
    width: 95px;
    height: 2px;
    background-color: #fff;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  .text p::before {
    left: -120px;
  }

  .text p::after {
    right: -120px;
  }

  .bottom-content {
    font-size: 20px;
  }

  .star-8pts {
    width: 40px;
    margin-left: 7px;
  }

  .name {
    display: none;
  }
}
