<header class="container-fluid header-container">
    <div class="container-fluid">
        <div class="row m-5">
          <div class="column-12 d-flex align-items-center justify-content-center">
            <img src="../assets/images/Star 1.svg" alt="decrative-star" id="decrative-star" class="img-fluid decorative-star">
          </div>
        </div>
        <!--CIRCLE TEXT-->
        <div class="row ">
          <div class="circle-container column-12 d-flex align-items-center justify-content-center">
            <div class="circle">

            </div>
            <!--HERO TEXT: PORTFOLIO ALAN COELHO-->
    
            <h1>
              <span class="hero-title hero-one">PORTFOLIO</span>
              <span class="hero-title hero-two">ALAN COELHO</span>
            </h1>
          </div>
        </div>
      </div>
    </header>
    