<div class="container" [@expandAnimation]="showProyect">
  <div class="prycts-container">
    <div class="link">
      <span (click)="showwProyect()">{{ proyects.nombreP }}</span>

      <div class="icons-edit-trash-container" *ngIf="isLogged">
        <div class="bttn-container edit-cont">
          <img
            class="edit-icon"
            src="../../../assets/images/create.svg"
            (click)="editarItem(proyects)"
          />
        </div>
        <div class="bttn-container trash-cont">
          <img class="trash-icon" src="../../../assets/images/trash.svg" (click)="eliminar()"/>
          
        </div>
      </div>

      <img
        *ngIf="isLogged == false"
        src="../../../assets/images/arrow.png"
        alt=""
        class="arrow"
        [ngClass]="showProyect ? 'rotateArrow' : ''"
        (click)="showwProyect()"
      />
      <div
        class="hover-reveal image01"
        [ngClass]="showProyect ? 'nonDisplay' : ''"
      >
        <img [src]="proyects.urlImg" alt="" class="hidden-img" />
      </div>
    </div>

    <div *ngIf="showProyect" class="show-proyect-container" [@fadeInOut]>
      <app-show-proyect [indx]="index"> </app-show-proyect>
    </div>
  </div>
</div>
