
app-item-prject{
  overflow: hidden;
}

#projects-subtitle {
  color: #000;
}
/*Title & Subtitles*/
#projects {
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 1) 37%,
    rgb(192, 192, 192) 100%
  );
  overflow: hidden;
  position: relative;
  top: 0;
  padding: 0;
  margin: 0;
}

.projects-section {
  width: 100%;
  position: relative;
  top: 0;
}

.projects-container {
  display: grid;
  place-items: center;
  padding: 0px;
}

.projects-container ul {
  width: 100%;
}

@media (max-width: 768px) {

  .projects-container ul {
    width: 93%;
  }

  .projects-container ul li .link span {
    font-size: 2.5rem;
  }

  .projects-container ul li .link > img {
    height: 18px;
  }

  .hover-reveal {
    width: 220px;
    height: 300px;
  }
}

.icons-edit-trash-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 110px;
  padding: 2px 0px;
  margin: 0;
  color: #fff;
  z-index: 11;
  background-color: #222222;
  border-radius: 35px;
  border: 2px solid #fff;
  overflow: hidden;
}
.bttn-container {
  padding: 9px;
  cursor: pointer;
  transition: box-shadow 0.1s ease-in-out;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.edit-cont:hover {
  background-color: #151515;
  transition: background-color 0.1s ease;
}

.trash-cont:hover {
  background-color: #550202;
  transition: background-color 0.1s ease;
}

.bttn-container span .new-bttn {
  font-size: 5px;
}
.trash-icon {
  width: 22px;
  margin: 0;
}
.edit-icon {
  width: 22px;
  margin: 0;
  cursor: pointer;
}
.proj-cont-fth {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

