<footer id="contact-container">
    <div class="row row-footer">
      <div class="col col-footer footer-left-side">
        <h6 class="text-title-section mb-5">Contact.</h6>
          <p class="text-paragraphs mb-4">Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum
            Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum
          </p>
          <div class="email-icon-container">
  
            <span class="email-footer">alancasstrocoelho@gmail.com</span>
          </div>
    
      </div>
      <div class="col col-footer footer-center-side">
        <img src="https://images.pexels.com/photos/11798029/pexels-photo-11798029.jpeg" alt="" class="temporary-image-before3D">
      </div>
    
      <div class="col col-footer footer-right-side">
    
        <div class="contact-form">
          <form action="">
            <input type="text" name="fullname" id="fullname" placeholder="Full Name">
            <input type="email" name="email" id="email" placeholder="E-mail">
            <p class="message">
              <label for="">Message</label>
              <textarea name="message" rows="3"></textarea>
            </p>
            <div class="button-container">
              <button type="submit">
                Send
              </button>
            </div>
    
          </form>
        </div>
    
    
    
      </div>
    </div>
        
        <div class="footer-logo-container">
          <h6 class="logo-text logo-text-footer">stayblessed.</h6>
          <img src="../../../assets/images/logo stayblessed-01.png" alt="" class="logo-footer">
    <a href="#navigator">
          <img src="../../../assets/images/sticker backToTop-withtexture.png" alt="" class="sticker-back-top">
        </a>
        </div>
    
    
        <div class="copy-container">
        <div class="copyright">stayblessed. &copy; 2022 - All Rights Reserved
          stayblessed. &copy; 2022 - All Rights Reserved
          stayblessed. &copy; 2022 - All Rights Reserved
          stayblessed. &copy; 2022 - All Rights Reserved
         stayblessed. &copy; 2022 - All Rights Reserved
          stayblessed. &copy; 2022 - All Rights Reserved
          stayblessed. &copy; 2022 - All Rights Reserved
        </div>
      </div>
  
    </footer>
