<footer id="contact-container" class="bg-black">
  <div class="row">
    <div class="col pt-4">
      <app-title-subtitle [section]="'contact'"></app-title-subtitle>
    </div>
  </div>

  <div class="row row-footer df-center">
    <div class="col col-footer df-center">
      <div class="text-foot-container df-center">
        <div class="backg-title df-center">
          <h6 class="text-title-section">
            ¿ Interesado en <br />
            trabajar juntos ?
          </h6>
          <div class="texture"></div>
          <img src="/assets/images/C1.webp" class="cinta c-left" />
          <img src="/assets/images/C2.webp" class="cinta c-right" />
        </div>
      </div>

      <img
     src="/assets/images/HandOneH2.webp"
        class="footer-images right-hand from-left"
      />
      <img
      src="/assets/images/HandTwoH2.webp"
        class="footer-images left-hand from-right"
      />
    </div>
  </div>

  <div class="row mt-5 pt-0">
    <div class="col mail-cont"></div>
  </div>
  <div class="row email-linkd-cont">
    <div class="col bttn-col d-flex justify-content-start p-0">
      <ul>
        <li *ngFor="let red of redes">
          <a [href]="red.urlRed" target="_blank">
            <div class="bttn-cont">
              <span class="text-bttn">{{ red.nombreR }}</span>
              <img [src]="red.urlIcon" class="icon-bttn" />
            </div>
          </a>
        </li>
      </ul>
    </div>
    <div class="col mail-cont">
      <p>Contactame :</p>
      <p>alancasstrocoelho@gmail.com</p>
    </div>

    <div class="col back-col">
      <a (click)="scrollToSection('hero')">
        <div class="bttn-cont bttn-back">
          <span class="text-bttn back"> Back to Top </span>
          <img
            src="/assets/images/flecha-hacia-arriba-white2.png"
            alt=""
            class="arrow-icon"
          />
        </div>
      </a>
    </div>
  </div>

  <div class="copy-container df-center">
    <div class="copyright">
      stayblessed. &copy; 2023 - All Rights Reserved stayblessed. &copy; 2023 -
      All Rights Reserved stayblessed. &copy; 2023 - All Rights Reserved
      stayblessed. &copy; 2023 - All Rights Reserved stayblessed. &copy; 2023 -
      All Rights Reserved stayblessed. &copy; 2023 - All Rights Reserved
      stayblessed. &copy; 2023 - All Rights Reserved All Rights Reserved
      stayblessed. &copy; 2023 -
    </div>
  </div>
</footer>
