
<nav class="menu" id="navigator">
  <label class="burger" for="burger" >
    <input type="checkbox" id="burger"(click)="toggleMenu()">
    <span></span>
    <span></span>
    <span></span>
  </label>
  
  <ul class="nav-links" [ngClass]="{'open-menu': openMenu}">
    <li>
      <a href="#about-me-section" class="menu-item">
        <div>
          <span class="menu-item-text">About Me</span>
        </div>
      </a>
    </li>

    <li>
      <a href="#skills-container" class="menu-item">
        <div>
          <span class="menu-item-text">Skills</span>
        </div>
      </a>
    </li>

    <li>
      <a href="#proyects-container" class="menu-item">
        <div>
          <span class="menu-item-text">Projects </span>
        </div>
      </a>
    </li>

    <li>
      <a href="#contact-container" class="menu-item">
        <div>
          <span class="menu-item-text">Contact </span>
        </div>
      </a>
    </li>

    <li (click)="login()" *ngIf="!isLogged" class="li-bttn">
      <a class="button-link" >
        <div class="button menu">
          <span class="menu-item-text">Login
          </span>
        </div>
        </a>
        </li>

    <li (click)="onLogOut()" *ngIf="isLogged">
      <a class="button-link">
        <div class="button menu">
          <span class="menu-item-text">LogOut </span>
        </div>
      </a>
    </li>
  </ul>

</nav>