<nav class="menu" id="navigator">
    <!--<h6 class="logo-text logo-text-nav">stayblessed.</h6>-->
    <ul class="nav-links">
    <li>
            <a href="#about-me-section" class="menu-item">
            <div>
               <span class="menu-item-text">About Me</span>
            </div>
          </a>
        </li>
    
        <li>
          <a href="#skills-container" class="menu-item">
            <div>          
                <span class="menu-item-text">Skills</span>        
            </div>
          </a>
        </li>
    
        <li>
          <a href="#proyects-container" class="menu-item">
            <div>
                <span class="menu-item-text">Proyects
                </span>
              </div>
          </a>
        </li>
    
        <li>
          <a href="#contact-container" class="menu-item">
            <div> 
                <span class="menu-item-text">Contact
                </span>         
              </div>
          </a>
        </li>
    
        <li>
          <a href="/login" class="button-link">
            <div class="button menu">
              <span class="menu-item-text">Login
              </span>
            </div>
            </a>
            </li>
          </ul>
    
          <div class="burguer">
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
          </div>
          
    
        </nav>
