<nav class="menu" id="navigator">
  <div class="plstc-bckg"></div>
  <label class="burger" for="burger">
    <input type="checkbox" id="burger" (click)="toggleMenu()" />
    <span></span>
    <span></span>
    <span></span>
  </label>

  <ul class="nav-links" [ngClass]="{ 'open-menu': openMenu }">
    <li>
      <a (click)="scrollToSection('about-me')" class="menu-item" #menuItems>
        <div>
          <span class="menu-item-text">About Me.</span>
        </div>
      </a>
    </li>

    <li>
      <a (click)="scrollToSection('skills')" class="menu-item" #menuItems>
        <div>
          <span class="menu-item-text">Skills.</span>
        </div>
      </a>
    </li>

    <li>
      <a (click)="scrollToSection('projects')" class="menu-item" #menuItems>
        <div>
          <span class="menu-item-text">Projects.</span>
        </div>
      </a>
    </li>

    <li>
      <a (click)="scrollToSection('contact')" class="menu-item" #menuItems>
        <div>
          <span class="menu-item-text">Contact.</span>
        </div>
      </a>
    </li>

    <li (click)="login()" *ngIf="!isLogged" class="li-bttn">
      <a class="button-link">
        <div class="button">
          <span>Login </span>
        </div>
      </a>
    </li>

    <li (click)="onLogOut()" *ngIf="isLogged" class="li-bttn">
      <a class="button-link">
        <div class="button">
          <span>LogOut </span>
        </div>
      </a>
    </li>
  </ul>
</nav>
