

nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 75px;
  counter-reset: menucounter;
  background-color: #000;
  z-index: 900;
}

.nav-links{
  display: flex;
  justify-content: space-around;
 margin: 0;
}

.nav-links li{
  list-style: none;
}

.nav-menus{
  display: flex;
  margin: 0;
  padding: 0;
}

nav div{
  margin-right: 50px;
  font-size: 18px;
}

nav a {
  color: #fff;
  font-family: "Syncopate", sans-serif;

text-decoration: none;
}



.button {
  border: 1px solid white;
  border-radius: 1rem;
  padding: 6px 40px;
  transition: all .4s ease;
  margin-left: 0;
  cursor: pointer;
  
}

.button:hover{
  transform: translateY(-4px);
  background: #2900e8;
}
/*/////////////////////*/

.burger {
  position: relative;
  right: 0;
top: 0;
  width: 30px;
  height: 20px;
  background: transparent;
  cursor: pointer;
  display:none;
}

.burger input {
  display: none;
}

.burger span {
  display: block;
  position: absolute;
  height: 1px;
  width: 100%;
  background: #fff;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: .25s ease-in-out;
}

.burger span:nth-of-type(1) {
  top: 0px;
  transform-origin: left center;
}

.burger span:nth-of-type(2) {
  top: 50%;
  transform: translateY(-50%);
  transform-origin: left center;
}

.burger span:nth-of-type(3) {
  top: 100%;
  transform-origin: left center;
  transform: translateY(-100%);
}

.burger input:checked ~ span:nth-of-type(1) {
  transform: rotate(45deg);
  top: 0px;
  left: 5px;
}

.burger input:checked ~ span:nth-of-type(2) {
  width: 0%;
  opacity: 0;
}

.burger input:checked ~ span:nth-of-type(3) {
  transform: rotate(-45deg);
  top: 16px;
  left: 5px;
}
@media screen and (min-width: 320px) and (max-width: 768px){
  
  .burger{
    display: flex;
  }

  nav{
    padding-right: 15px;
    position: relative;
  }
  
  .nav-links{
   flex-direction: column;
   position: absolute;
   right: 0px;
   opacity: 0;
   top: 75px;
   bottom: 0;
   align-items: center;
   justify-content: start;
   transition: opacity .5s ease;
   padding-top: 30px
   ;
  }


  
.nav-links li:nth-child(5){
  order: -1;
}


nav div{
  margin-right: 0px;
  margin-top: 0px;
  display: flex;
justify-content: center;
align-items: center;
height: 100%;
}

nav li{
  background-color: rgba(13, 13, 13, 0);
  height: 60px;
  width: 90%;
  transition: all .4s ease;
  border-radius: 1rem;
}

nav li:hover{
  background-color: #161616;
}

nav ul{
  background: #2b2b2bb2;
  width: 57%;
  height: 100vh;
  z-index: 999;
  backdrop-filter: blur(3px);
  border-radius: 20px 0 0 20px;
}

.li-bttn {
 margin-bottom: 30px;
 height: 40px!important;
 width: 70%!important;
}

  .open-menu{
    opacity: 1;
    }

}

@media screen and (min-width: 768px) and (max-width: 1024px){
  nav div{
    font-size: 14px;
  }
  
}