form{
    border-radius: 20px;
    padding: 20px;
    margin: 20px;
    width: 550px;
}

.edit-Educationform{
    background: rgb(46, 46, 46);
    color: white;
    font-family: "Syncopate", sans-serif;
  font-weight: bold;
  font-size: 15px;
}

.formTitleContainer{
display: flex;
align-items: center;
justify-content: center;
}

.formTitle{
font-size: 25px;
}
