<div class="container modal-dialog-centered" *ngIf="selectedSkill">
  <form (ngSubmit)="onUpdate()" [formGroup]="editSkillForm">
    <div class="form-group">
      <label for="nombre">Nombre Skill</label>
      <input
        type="text"
        class="form-control"
        id="nombre"
        formControlName="nombre"
        [value]="selectedSkill.nombre"
        required
      />
    </div>
    <div class="form-group">
      <label for="porcentaje">Porcentaje</label>
      <input
        type="number"
        class="form-control"
        id="porcentaje"
        formControlName="porcentaje"
        [value]="selectedSkill.porcentaje"
        min="1"
        max="100"
        required
      />
    </div>
    <button class="bttn">Actualizar</button>
  </form>
</div>
