<div class="titl-subt-cont" [id]="section +'-title-container'">
<div class="titles-cont">
    <h2 class="text-title-section text-wrapper">{{(' / ' + section + ' / ').repeat(13)}}</h2>
  </div>

  <div class="subtitle-cont-full for-subtitles" >


    <div class="subtitle-text-wrapper" *ngIf="section === 'about-me'">
      <div class="num-cont">
        <span>1</span>
      </div>
      <div class="subtitle">
        <p>Descubre quién soy, mi historia personal y
        profesional. </p>
      </div>  


    </div>

    <div class="subtitle-text-wrapper" *ngIf="section === 'skills'">
      <div class="num-cont">
        <span>2</span>
      </div>
        <div class="subtitle">
          Explora mis skills en diferentes areas.
        </div>
      </div>

    <div class="subtitle-text-wrapper" *ngIf="section === 'projects'">
      <div class="num-cont">
        <span>3</span>
      </div>
      <div class=" subtitle">
        Explora mis skills en diferentes areas.
        </div>
      </div>



  </div>
  <div class="img-title"></div>
</div>