.decorative-stars {
    position: absolute;
  left: 15px;
   top: 28px;
    width: 35px;
  }
  .subtitle-cont-full {
    background: #000;
    width: 98.6%;
    height: 71px;
    margin: 10px 0px;
    border-radius: 60px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 0;
  }
  
  .horizontal-line {
    display: block;
    background-color: #fff;
    height: 0.5px;
    width: 95%;
    margin: auto;
    border: 0 none;
    padding: 0;
    opacity: 100;
  }
  
  
  .titles-container {
    display: flex;
    justify-content: end;
    align-items: center;
    background-color: #999;
    margin-bottom: 20px;
    border-radius: 60px 60px 0px 0px;
    transition: all 0.3s ease-out;
    overflow: hidden;
    height: 71px;
    margin: 4.5rem 0 0 0;
  }
  
  .for-subtitles {
    margin: 0;
    border-radius: 0px 0px 60px 60px;
    width: 100%;
    position: relative;
    top: 0;
  }
  
  .subtitles-container {
    margin-bottom: 3rem;
  }
  
  .subtitles {
    color: #fff;
    font-family: "Dongle", sans-serif;
    font-weight: 400;
    font-size: 2.6rem;
    text-align: center;
  }
  
  .subtitle-text-wrapper {
    width: 90%;
    height: 80%;
    border-radius: 60px 0;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    color: #fff;
  }
  
  .text-wrapper {

    position: absolute;
    top: 50%;
    left: -20%;
    transform: translate(0, -50%);
    white-space: nowrap;
    transition: 0.2s ease-out;
    animation: float-text 30s linear infinite;
    animation-delay: 0s;
    opacity: 1;
    padding: 20px 0;

  }

  .text-title-section {
    font-family: "Syncopate", sans-serif;
    font-weight: 400;
    font-size: 2.5rem;
    position: relative;
    top: 8px;
    right: 26px;
    color: white;
    transition: 0.2s ease-out;
    letter-spacing: 3px;
  }
  
  .title-numbers {
    font-family: "Syncopate", sans-serif;
    color: white;
    font-size: 12px;
    position: relative;
    right: 30px;
    bottom: 7px;
  }
  
  .subtitle{
    font-family: "Dela Gothic One", cursive;
    text-transform: uppercase;
    font-size: 22px;
  }
  
  .white-rectangle-container {
    width: 100%;
    display: flex;
  }

  #about-me-title-container {
    background: #2900e8;
  }

  #projects-title-container {
    background-color: #171717;
  }

  .subtitle-about-backgr {
    background-color: #2900e8;
    margin-bottom: 90px;
  }

  .subtitle-skill-backgr {
    background-color: #999;
  }

  .subtitle-project-backgr {
    background-color: #171717;
  }

  .subtitle-star {
    position: absolute;
    top: 10px;
    width: 25px;
  }

  
  
  .left {
    left: 30px;
  }
  
  .right {
    right: 30px;
  }

  .subtitle-mobile
  {display: none;}

  @media screen and (min-width: 320px) and (max-width: 768px){

    .text-wrapper{
      display: none;

    }

    .titles-container {
      background-color: #999;
      margin-bottom: 20px;
      border-radius: 60px 60px 0px 0px;
      transition: all 0.3s ease-out;
      overflow: hidden;
      height: 41px;
      margin: 4.5rem 0 0 0;
    }



    .title-numbers{
font-size: 10px;
    }

.text-title-section{
  font-size: 17px;
}

.subtitle-mobile{
  display: inline;
}

.subtitle-cont-full {
  height: 41px;
  border-radius: 0px 0 60px 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 0;
}

.subtitle-text-wrapper {
  border-radius: 60px 0;
  position: relative;
  display: flex;
  justify-content: end;
  align-items: center;
  overflow: hidden;
  padding-right: 6px;
}

.subtitle-mobile{
  font-family: "Dongle", sans-serif;
  font-size: 16px;
}

.subtitle-star {
 display: none;
}


  }