.titl-subt-cont{
  overflow: hidden;
  padding: 0;
  height: fit-content;
  position: relative;
  margin-bottom: 160px;
  cursor: pointer;
}


.decorative-stars {
  position: absolute;
left: 15px;
 top: 28px;
  width: 35px;
}
.subtitle-cont-full {
  width: 100%;
  height: 71px;
  position: relative;
  margin: 0;
  z-index: 876;
  background: #0000004a;
  backdrop-filter: blur(5px);
}

.horizontal-line {
  display: block;
  background-color: #fff;
  height: 0.5px;
  width: 95%;
  margin: auto;
  border: 0 none;
  padding: 0;
  opacity: 100;
}


.titles-cont {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 160px;
  position: relative;

}

h2{
  font-family: "Dela Gothic One", cursive;
  font-size: 100px;
}

p{
  margin: 0;
}

.for-subtitles {
  width: 100%;
  position: relative;
  top: 0;
}

.subtitles-container {
  margin-bottom: 0rem;
}



.subtitle-text-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: #e1e1e1;
  padding-right: 30px;
  border-top: 2px solid #fff;
  border-bottom: 2px solid #fff;
}

.num-cont{
  position: absolute;
  left: 20px;
  top: -110px;
  width: 152px;
  height: 152px;
  border-radius: 50%;
  background: #000;
  border: 14px solid #fff;
  font-family: "Dela Gothic One", cursive;
  font-size: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.text-wrapper {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  white-space: nowrap;
  transition: 0.2s ease-out;
  animation: float-text 30s linear infinite;
  animation-delay: 0s;
  opacity: 1;
  padding: 20px 0;
}

.text-title-section {
  color: white;
}


.subtitle{
  font-family: "Syncopate", sans-serif;
  font-size: 25px;
}


.white-rectangle-container {
  width: 100%;
  display: flex;
}







.title-star {
  position: absolute;
  top: 10px;
  width: 25px;
  margin-right:30px ;
}

.left {
  left: 30px;
}

.right {
  right: 30px;
}

.img-title{
  position: absolute;
  right: -350px;
  top: 0px;
  
  background-position: center;
  background-repeat: no-repeat;
  transition: right .8s ease;
}

#about-me-title-container .img-title{
  width: 300px;
  height: 300px;
  background-image: url(../../../assets/images/img-1.jpg);
  background-size: 400px;
}

#skills-title-container .img-title{
  width: 350px;
  height: 350px;
  background-size: cover;
  background-image: url(../../../assets/images/stck-1.png);
}

#projects-title-container  .img-title{
  width: 250px;
  height: 250px;
  background-size: cover;
  background-image: url(../../../assets/images/stck-2.png);
}

.titl-subt-cont:hover .img-title{
  right: 50px;
}




@media screen and (min-width: 320px) and (max-width: 768px){

  .text-wrapper{
    display: none;

  }

  .titles-cont {
    transition: all 0.3s ease-out;
    height: 41px;
    margin: 4.5rem 0 0 0;
  }



  .title-numbers{
font-size: 10px;
  }

.text-title-section{
font-size: 17px;
}



.subtitle-cont-full {
height: 41px;
display: flex;
justify-content: center;
align-items: center;
}

.subtitle-text-wrapper {
position: relative;
display: flex;
justify-content: end;
align-items: center;
padding-right: 6px;
}


}
