<div class="titles-container" [id]="section +'-title-container'">
    <span class="title-numbers">01</span>
    <h2 class="text-title-section">{{section}}</h2>
  </div>
  <div class="subtitle-cont-full for-subtitles" 
     [ngClass]="{
    'subtitle-about-backgr': section == 'about-me',
    'subtitle-skill-backgr': section == 'skills',
    'subtitle-project-backgr': section == 'projects'
}">
    <img
      src="../../../assets/images/Stars.svg"
      alt=""
      class="subtitle-star left"
    />

    <div class="subtitle-text-wrapper" *ngIf="section === 'about-me'">
      
      
      <div class="text-wrapper subtitle">
        Descubre quién soy, mi historia personal y profesional. Descubre
        quién soy, mi historia personal y profesional. Descubre quién soy,
        mi historia personal y profesional. Descubre quién soy, mi
        historia personal y profesional. Descubre quién soy, mi historia
        personal y profesional. Descubre quién soy, mi historia personal y
        profesional. Descubre quién soy, mi historia personal y
        profesional. Descubre quién soy, mi historia personal y
        profesional.
      </div>  

      <div class="subtitle-mobile">
        Descubre quién soy, mi historia personal y profesional.
      </div>  


    </div>

    <div class="subtitle-text-wrapper" *ngIf="section === 'skills'">

        <div class="text-wrapper subtitle">
          Explora mis habilidades en diferentes áreas y cómo puedo aportar
          valor en proyectos y equipos de trabajo. Explora mis habilidades en
          diferentes áreas y cómo puedo aportar valor en proyectos y equipos
          de trabajo. Explora mis habilidades en diferentes áreas y cómo puedo
          aportar valor en proyectos y equipos de trabajo. Explora mis
          habilidades en diferentes áreas y cómo puedo aportar valor en
          proyectos y equipos de trabajo. Explora mis habilidades en
          diferentes áreas y cómo puedo aportar valor en proyectos y equipos
          de trabajo. Explora mis habilidades en diferentes áreas y cómo puedo
          aportar valor en proyectos y equipos de trabajo. Explora mis
          habilidades en diferentes áreas y cómo puedo aportar valor en
          proyectos y equipos de trabajo. Explora mis habilidades en
          diferentes áreas y cómo puedo aportar valor en proyectos y equipos
          de trabajo.
        </div>

        <div class="subtitle-mobile">
          Explora mis skills en diferentes areas.
        </div>  

      </div>

    <div class="subtitle-text-wrapper" *ngIf="section === 'projects'">
       
      <div class="text-wrapper subtitle">
          Descubre cómo he aplicado mis habilidades técnicas y mi conocimiento
          en diferentes proyectos y campos. Descubre cómo he aplicado mis
          habilidades técnicas y mi conocimiento en diferentes proyectos y
          campos. Descubre cómo he aplicado mis habilidades técnicas y mi
          conocimiento en diferentes proyectos y campos. Descubre cómo he
          aplicado mis habilidades técnicas y mi conocimiento en diferentes
          proyectos y campos. Descubre cómo he aplicado mis habilidades
          técnicas y mi conocimiento en diferentes proyectos y campos.
          Descubre cómo he aplicado mis habilidades técnicas y mi conocimiento
          en diferentes proyectos y campos.
        </div>

        <div class="subtitle-mobile">
          Explora mis skills en diferentes areas.
        </div>  

      </div>



    <img
      src="../../../assets/images/Stars.svg"
      alt=""
      class="subtitle-star right"
    />
  </div>
