<div class="cont" *ngIf="selectedProject">
  <form (ngSubmit)="onUpdate()" [formGroup]="editProjectForm">
    <div class="form-group">
      <label for="nombreP">Nombre deL proyecto</label>
      <input
        type="text"
        class="form-control"
        id="nombreP"
        formControlName="nombreP"
        [value]="selectedProject.nombreP"
        required
      />
    </div>
    <div class="form-group">
      <label for="descripcionP">Descripcion deL proyecto</label>
      <textarea
        rows="15"
        cols="50"
        class="form-control"
        id="descripcionP"
        name="descripcionP"
        formControlName="descripcionP"
        [value]="selectedProject.descripcionP"
      ></textarea>
    </div>
    <div class="form-group">
      <label for="urlImg">Url de la imagen</label>
      <input
        type="text"
        class="form-control"
        id="urlImg"
        formControlName="urlImg"
        [value]="selectedProject.urlImg"
        required
      />
    </div>

    <div class="form-group">
      <label for="urlRepo">URL al Repo</label>
      <input
        type="text"
        class="form-control"
        id="urlRepo"
        formControlName="urlRepo"
        [value]="selectedProject.urlRepo"
        required
      />
    </div>

    <div class="form-group">
      <label for="urlLiveDemo">Url live demo</label>
      <input
        type="text"
        class="form-control"
        id="urlLiveDemo"
        formControlName="urlLiveDemo"
        [value]="selectedProject.urlLiveDemo"
        required
      />
    </div>

    <button class="bttn">Actualizar</button>
  </form>
</div>
