<div class="cont" [@expandAnimation]="showProject">
  <div class="prjcts-cont">
    <div class="link">
      <span (click)="showwProject()">{{ projects.nombreP }}</span>

      <div class="edit-trash-cont" *ngIf="isLogged">
        <div class="bttn-cont edit-cont">
          <img
            class="edit-icon"
            src="../../../assets/images/create.svg"
            (click)="editarItem(projects)"
          />
        </div>
        <div class="bttn-cont trash-cont">
          <img class="trash-icon" src="../../../assets/images/trash.svg" (click)="delete()"/>
          
        </div>
      </div>

      <img
        *ngIf="!isLogged"
        src="../../../assets/images/arrow.png"
        alt=""
        class="arrow"
        [ngClass]="showProject ? 'rotateArrow' : ''"
        (click)="showwProject()"
      />
      <div
        class="hover-reveal image01"
        [ngClass]="showProject ? 'nonDisplay' : ''"
      >
        <img [src]="projects.urlImg" alt="" class="hidden-img" />
      </div>
    </div>

    <div *ngIf="showProject" class="show-project-cont" [@fadeInOut]>
      <app-show-project [indx]="index"> </app-show-project>
    </div>
  </div>
</div>
