<section
  class="container-fluid d-flex justify-content-center"
  id="skills-container"
>
  <div class="row skills-section mt-2">
    <div class="col">
      <app-title-subtitle [section]="'skills'"></app-title-subtitle>
    </div>

    <div class="row mt-5">
      <div class="col-xl-6 col-12 from-left">
        <app-skill-image-cont [skillTpe]="'front-end'"></app-skill-image-cont>
      </div>

      <div class="col-xl-6 col-12 progress-container">
        <div class="skill-inf-container">
          <app-bttn-add dataTarget="Skill" *ngIf="isLogged"></app-bttn-add>

          <app-skill-list-items
            [skillType]="'front-end'"
          ></app-skill-list-items>
        </div>
      </div>
    </div>

    <div class="row m-0">
      <div
        class="col-xl-6 col-12 order-xl-first order-md-last progress-container"
      >
        <div class="skill-inf-container">
          <app-bttn-add dataTarget="Skill" *ngIf="isLogged"></app-bttn-add>

          <app-skill-list-items [skillType]="'back-end'"></app-skill-list-items>
        </div>
      </div>

      <div class="col-xl-6 col-12 from-right">
        <app-skill-image-cont [skillTpe]="'back-end'"></app-skill-image-cont>
      </div>
    </div>

    <div class="row m-0">
      <div class="col-xl-6 col-12 from-left">
        <app-skill-image-cont [skillTpe]="'programs'"></app-skill-image-cont>
      </div>
      <div class="col-xl-6 col-12 progress-container">
        <div class="skill-inf-container">
          <app-bttn-add dataTarget="Skill" *ngIf="isLogged"></app-bttn-add>
          <app-skill-list-items [skillType]="'programs'"></app-skill-list-items>
        </div>
      </div>
    </div>

    <div class="row m-0">
      <div
        class="col-6 col-xl-6 col-12 order-xl-first order-md-last progress-container"
      >
        <div class="skill-inf-container">
          <app-bttn-add dataTarget="Skill" *ngIf="isLogged"></app-bttn-add>
          <app-skill-list-items [skillType]="'soft'"></app-skill-list-items>
        </div>
      </div>

      <div class="col-xl-6 col-12 from-right">
        <app-skill-image-cont [skillTpe]="'soft-skills'"></app-skill-image-cont>
      </div>
    </div>
  </div>
</section>
