

#skills-container {
    background-color: #000;
    
  }
  
  .skills-section {
    width: 95%;
    display: flex;
    justify-content: center;
  }
  
.front-background{
    border-radius: 0 60px 0 60px;
    padding: 50px;
    background:linear-gradient(to bottom, #0e0e0e, black)
  }
  
  .back-background{
    border-radius: 0 60px 60px 0px;
    padding: 50px;
    background-color: #000;
  }



  .front-title-container{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.371);
      width: 400px;
      height: 160px;
      border:7px solid black;
      z-index: 60;
      position: relative;
  
    }
  


  
    .left-title-radius{
      border-radius: 0 100px;
    border-left: 0;
    padding: 0px 40px 0 20px;
    }

    
  .black-background-title{
    background: #000;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 140;
  }

  .black-background-front{
    border-radius: 0 100px;
  }

  .black-background-back{
    border-radius: 80px 0px;
  }
  
  #carouselExampleCaptions{
    height: 800px;
    width: 100%;
  }

  .carousel-inner{
    height: 800px;
  }
.carousel-buttons{
  width: 60px;
}
  .front-title{
    color: #fff;
    font-family: 'Dela Gothic One', cursive;
  text-transform: uppercase;
  letter-spacing: 2px;
    font-size: 4.2rem;
    line-height: 35px;
    z-index: 150;
    float: left;
  }

  .front-container{
    height: 800px;
  }

  .c-img{
    position: absolute;
    top: 0;
    left: -190px;
    width: 100%;
    height: 100%;
    }

    
    .crsl-caption{
      display: flex;
      width: 100%;
      left: 0px;
      margin-bottom: 20px;
     }

    .crls-btn{
      width: 60px;
    }

   
     
     .carousel-enum{
       position:absolute;
       right: 60px;
       top:270px;
       font-size: 7rem;
       font-family: 'Dela Gothic One', cursive;
       -webkit-text-stroke: 1px rgba(255, 255, 255, 0.698);
       color: transparent;
     }
     

    .skill-inf-container{
      width: 400px;
      position: relative;
      float: right;
      right: 150px;
      bottom: -160px;

      border-radius: 20px;
      padding: 20px 0;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      }

      .insider-rectangle{
  
        padding: 8px 0px;
      }
      

#vector-figures-one{
    position: absolute;
  }

  #vector-figures-two{
    position: absolute;
  }


.front-right-side{
  background-color: #fff;
border-top-right-radius: 60px;
display: flex;
align-items: center;
justify-content: center;
}


.subtitle-skill-backgr{
  background-color:#999;
}



.white-rectangle-half{
  background-color:#fff;
  width: 100%;
  height: 100%;
}


  .back-title-container{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.371);
      width: 400px;
      height: 160px;
      border:10px solid #000;
      z-index: 110;
    }

.right-title-radius{
  border-radius: 100px 0px;
  border-right: 0;
  padding: 0px 20px 0 40px;
}

#programs-title-cont{
height: 100px;
width: 500px;
margin: auto;
padding: 6px 0 0 16px;
}




.skills-background{
  border-radius: 60px 0px;
  overflow: hidden;
  padding: 50px 50px;
  background-color: #000;
  display: flex;
  justify-content: center;
}


#soft-skills-vector{
  position: absolute;
height: 1030px;
width: 100%;
}

.soft-title-container{
  background-color: #000;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0 60px;
}

#soft-skills-title-cont{
  height: 100px;
width: 430px;
padding: 0px 0 0 80px;
overflow: hidden;
}

.skills-title-language {
  color: #fff;
  font-family: 'Dongle', sans-serif;
  display: flex;

padding: 5px;
  }
  
  
  
.black-title-container{
display: flex;
justify-content: space-between;
width: 100%;
background-color: #000;
border-radius: 30px 0px;
padding: 0 20px;
}

  .stars-titls-container{
    display: flex;
    align-items: center;
  }

  .header-soft-skills {
    color: #fff;
    font-family: 'Dela Gothic One', cursive;
    text-transform: uppercase;
  }
  
  .skills-titles {
    color: #fff;
    font-family: 'Dongle', sans-serif;
    font-size: 2.6rem;
  }
  
  
.progress {
    margin: 0;
    margin-top: -4px;
    background-color: rgba(0, 0, 0, 0.267);
    border-bottom: 3px solid black;
    border-left: 3px solid black;;
    border-right: 3px solid black;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    width: 90%;
    height: 18px;
    float: right;
    border-bottom-left-radius:30px ;
  }
  
  
  .progress-bar {
  font-size: .8rem;
  font-weight: bold;
  padding: 5px 0px;
  background-color: var(--azul-francia);
  }
  
  .bar-blue{
    background-color: var(--azul-francia);
  }
  


  .icons-edit-trash-container{
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
    color: #fff;
  }

.trash-icon{
  width: 25px;
}

.edit-icon{
  width: 25px;
}

ul{
  margin: 0px;
  padding: 0px;
width: 100%;
}

li{
  margin: 0;
  list-style: none;
}