.image-container {
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  height: 730px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: visible;
  padding: 0;
  width: 100%;
  background-size: 570px;
}

.texture {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url('/assets/images/CompactDiscFull.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  mix-blend-mode: difference;
  opacity: 0.8;
}

.front-backgr {
  background-image: url('/assets/images/holoPFront.gif');
}

.back-backgr {
  background-image: url('/assets/images/holoPBack.gif');
}

.programs-backgr {
  background-image: url('/assets/images/holoPPrograms.gif');
}

.soft-backgr {
  background-image: url('/assets/images/holoPSoft2.gif');
  background-size: 530px 530px;
}

.type-cont {
  border: 3px solid #fff;
  padding: 50px 102px;
  backdrop-filter: blur(7px);
  position: relative;
}

.star {
  position: absolute;
  right: 40px;
  top: 56%;
  transform: translateY(-50%);
  width: 45px;
}

.front-title {
  font-family: "Dela Gothic One", cursive;
  font-size: 72px;
  line-height: 35px;
  z-index: 150;
  -webkit-text-stroke: 2px #fff;
  color: transparent;
  margin: 0;
}

@media screen and (max-width: 1350px) {
  .type-cont {
    border: 3px solid #fff;
    padding: 40px 65px;
    backdrop-filter: blur(7px);
    position: relative;
  }
  .front-title {
    font-size: 65px;
    line-height: 35px;
  }

  .star {
    right: 15px;
    width: 32px;
  }
}

@media screen and (max-width: 768px) {
  .image-container {
    background-position: center;
    background-repeat: no-repeat;
    height: 610px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: visible;
    padding: 0;
    width: 100%;
    background-size: 530px;
  }

  .type-cont {
    padding: 28px 68px;
  }

  .front-title {
    font-size: 50px;
    -webkit-text-stroke: 2px #fff;
  }
}

@media screen and (max-width: 458px) {
  .image-container {
    background-position: center;
    background-repeat: no-repeat;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: visible;
    padding: 0;
    width: 100%;
    background-size: 450px;
  }

  .type-cont {
    padding: 20px 50px;
    border: 2px solid #fff;
  }

  .front-title {
    font-size: 40px;
    -webkit-text-stroke: 1px #fff;
  }

  .star {
    right: 15px;
    width: 24px;
  }
}

@media screen and (max-width: 375px) {
  .type-cont {
    padding: 16px 45px;
  }

  .front-title {
    font-size: 35px;
  }

  .star {
    right: 15px;
    width: 20px;
  }

  .soft-backgr {
    background-image: url('/assets/images/holoPSoft2.gif');
    background-size: 390px;
  }
}
