

*,
::after,
::before,
body {
  box-sizing: border-box;
  margin: 0;
}

body {
  padding-right: 0 !important;
}

/*Scroll Personalizado*/

body::-webkit-scrollbar {
  width: 18px;
  background-color: rgb(12, 12, 12);
}

body::-webkit-scrollbar-thumb {
  background: #2900e8;
  border-radius: 10px;
}

.menu-item {
  position: relative;
}

.menu-item:before {
  color: #fff;
  counter-increment: menucounter;
  content: counters(menucounter, ".", decimal-leading-zero);
  position: absolute;
  left: -16px;
  top: 0;
  font-size: 8px;
}

.menu-item-text {
  pointer-events: none;
  display: block;
  position: relative;
  font-size: 1.1rem;
  line-height: 1;
}

.menu-item > div:nth-child(1) span {
  will-change: tranform;
  transform-style: preserve-3d;
  transition: 0.5s;
  transition-delay: calc(0.05s * var(--index));
  transform-origin: bottom;
  display: inline-block;
}

.menu-item > div:nth-child(2) span {
  will-change: tranform;
  transform-style: preserve-3d;
  transition: 0.5s;
  transition-delay: calc(0.05s * var(--index));
  transform-origin: top;
  display: inline-block;
  transform: translate3d(0, 100%, 0) rotateX(90deg);
}

.menu-item:hover > div:nth-child(1) span {
  transform: translate3d(0, -100%, 0) rotateX(-90deg);
}

.menu-item:hover > div:nth-child(2) span {
  transform: translate3d(0, 0%, 0) rotateX(0deg);
}





h5 {
  font-weight: 400;
  font-size: 3.6rem;
  margin: 0 0 0 10px;
  padding: 0;
}

.decorative-stars {
  width: 20px;
  position: relative;
  top: -3px;
}

.bigger-star {
  width: 25px;
  margin: 0 19px;
  top: 0;
}

#black-stars {
  filter: invert(100%);
  width: 30px;
}

#vector-figures-one {
  position: absolute;
}

#vector-figures-two {
  position: absolute;
}

.icons-edit-trash-container {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
}

.edit-icon {
  color: #fff;
  font-size: 26px;
  margin: 0px 10px 0px 0px;
}

.trash-icon {
  color: #fff;
  font-size: 26px;
  margin: 0px 10px 0px 0px;
}

@keyframes rotating {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

