.e-cont {
  margin-top: 120px;
}

.title-cont {
  transform: rotate(-5deg);
}

.inner {
  background: #054529;
}

td button {
  width: 110px;
  margin-bottom: 10px;
}

.container-add-button {
  display: flex;
  align-items: center;
  justify-content: end;
  width: 100%;
  margin-bottom: 50px;
  padding-left: 0;
}

.sel-back {
  transform: translateX(10px);
  background: #0c623d;
  border-right: 4px solid #fff;
  border-left: 4px solid #fff;
}

.star-fill {
  z-index: 684;
}

.fecha-cnt {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.number {
  background: #0c623d;
}

.number-2 {
  position: absolute !important;
  bottom: -7px;
  left: 7px;
}

@media screen and (min-width: 320px) and (max-width: 768px) {

  .e-cont {
    margin-top: 30px;
  }

  h1 {
    font-size: 17px;
    margin-left: 23px;
  }

  .name-cont {
    display: flex;
    width: 100%;
  }
  .fecha {
    font-size: 11px;
    margin-bottom: 20px;
  }
  .edu-descrp-cont {
    display: flex;
    font-size: 10px;
    width: 100%;
  }
}
