<div class="loadr">
    <p>loading</p>
    <div class="words" *ngIf="tipo === 'hero'">
        <span class="word">About Me.</span>
        <span class="word">Skills.</span>
        <span class="word">Projects.</span>
        <span class="word">Contact.</span>
        <span class="word">About Me.</span>
    </div>
    <div class="words" *ngIf="tipo === 'edu'">
        <span class="word">Education.</span>
        <span class="word">Educación.</span>
        <span class="word">formazione.</span>
        <span class="word">Ausbildung.</span>
        <span class="word">Education.</span>
    </div>
    <div class="words" *ngIf="tipo === 'exp'">
        <span class="word">Experience.</span>
        <span class="word">Experiencia.</span>
        <span class="word">Esperienza.</span>
        <span class="word">Erfahrung.</span>
        <span class="word">Experience.</span>
    </div>
    <div class="words" *ngIf="tipo === 'proj'">
        <span class="word">Projects.</span>
        <span class="word">Proyectos.</span>
        <span class="word">Progetti.</span>
        <span class="word">Projekte.</span>
        <span class="word">Projects.</span>
    </div>