<div class="container" [@fadeInOut]>
  <img
    src="../../../assets/images/Stars.svg"
    alt=""
    class="decrative-star left-top"
  />
  <img
    src="../../../assets/images/Stars.svg"
    alt=""
    class="decrative-star right-top"
  />
  <img
    src="../../../assets/images/Stars.svg"
    alt=""
    class="decrative-star left-bottm"
  />
  <img
    src="../../../assets/images/Stars.svg"
    alt=""
    class="decrative-star right-bottm"
  />
  <div class="modal-contentt">
    <div class="modall-body">
      <div class="image-prjct-container">
        <img [src]="projectToShow.urlImg" alt="" class="project-img"/>
      </div>

      <div class="prjct-description">
        <p>{{ projectToShow.descripcionP }}</p>
      </div>
    </div>

    <div class="prjct-buttons-container">
      <a [href]="projectToShow.urlLiveDemo" class="btn-item">
        <div class="prjct-btns">
          <span class="btn-item-text">Live demo</span>
        </div>
      </a>

      <a [href]="projectToShow.urlRepo" class="btn-item" target="_blank">
        <div class="prjct-btns">
          <span class="btn-item-text">Repositorio</span>
        </div>
      </a>
    </div>
  </div>
</div>
