<div class="container-fluid about-me-all">   
    <div class="container-fluid" id="about-me-section">
      <div class="row justify-content-center">
        <div class="column-12">
          <div class="titles-container" id="about-me-title-container">
            <span class="title-numbers">01</span><h2 class="text-title-section">About Me</h2>
          </div>
          <div class="white-rectangle-full for-subtitles subtitle-about-backgr">       
            <img src="../../../assets/images/Stars.svg" alt="" class="decorative-stars bigger-star">    
            <div class="insider-black-backg">
            <div class="text-wrapper" id="work-text">
              Este es el subtitulo de About-Me, el cual contendra una breve introducción a la sección.
              Este es el subtitulo de About-Me, el cual contendra una breve introducción a la sección.
              Este es el subtitulo de About-Me, el cual contendra una breve introducción a la sección.
              Este es el subtitulo de About-Me, el cual contendra una breve introducción a la sección.
              Este es el subtitulo de About-Me, el cual contendra una breve introducción a la sección.
              Este es el subtitulo de About-Me, el cual contendra una breve introducción a la sección.</div>
            </div>
            <img src="../../../assets/images/Stars.svg" alt="" class="decorative-stars bigger-star">
          </div>
        </div>
      </div>

      <div class="row d-flex">

        <div class="col-sm-4 d-flex justify-content-center">
          
          <div class="about-pic-div" data-tilt data-tilt-glare data-tilt-max-glare="0.8">
            <div class="profile-photo-container">
            <img id="profile-photo" alt="" [src]="myPortfolio.profilePic">
          </div>

          <div class="links">

            
          </div>
        </div>
        </div>

        <div class="col-sm-8" >
       
          <div class="about-me-right" data-tilt data-tilt-glare data-tilt-max-glare="0.8">

          <div class="about-me-name-container">
             

<img src="../../../assets/images/Sticker Alan Coelho-01.png" alt="" class="sticker-alan-coelho">

            </div>



            <div class="about-me-paragraph-container">
              <div class="about-me-decor-lines">
                <img src="../../../assets/images/Stars.svg" alt="" class="decorative-stars">     
                <img src="../../../assets/images/Stars.svg" alt="" class="decorative-stars">     
              </div>
              <p class="text-paragraphs" id="about-me-paragraph">{{myPortfolio.aboutMe}}</p>    
              
              <div class="about-me-decor-lines dec-bottom">
                <img src="../../../assets/images/Stars.svg" alt="" class="decorative-stars">     
                <img src="../../../assets/images/Stars.svg" alt="" class="decorative-stars">     
              </div>
        </div>


      </div>
      </div>

      <div class="row mt-5">
        <div class="col-sm-6">
          <app-education></app-education>
        </div>

        <div class="col-sm-6">
          <div class="header-experiencia-laboral d-flex align-items-center">
            <img src="../../../assets/images/Stars.svg" alt="" class="decorative-stars">   
            <h4 class="text-headers">Experiencia Laboral</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
